<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        Bandeja de Situaciones Sensibles al Conflicto
                    </h3>
                </div>
                <div class="cana">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente molestias nemo aliquid minus natus qui maxime debitis optio? Facilis aliquid aperiam mollitia veniam laboriosam numquam repudiandae reprehenderit pariatur minima aspernatur.
                </div>

                <div class="kt-subheader__toolbar right">
                    <div class="kt-subheader__wrapper">                                             
                        <div class="btn-group" dropdown>
                            <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-file-excel"></i>
                                Operaciones Matrices en excel
                            </button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu>
                                <a class="dropdown-item" id="ExportMatrixToExcel" (click)="exportMatrizSituacionesHechosToExcel()" href="javascript:;">
                                    <i class="fa fa-download"></i>
                                    Situaciones y sus hechos relevantes
                                </a>
                                <a class="dropdown-item" id="ExportManagementToExcel" (click)="exportMatrizSituacionesRecomendacionesToExcel()" href="javascript:;">
                                    <i class="fa fa-download"></i>
                                    Situaciones y sus recomendaciones
                                </a>
                                <a class="dropdown-item" id="ExportStateToExcel" (click)="exportMatrizSituacionesGestionesToExcel()" href="javascript:;">
                                    <i class="fa fa-download"></i>
                                    Situaciones y sus gestiones realizadas
                                </a>
                                <a class="dropdown-item" id="ExportStateToExcel" (click)="exportMatrizSituacionesSituacionActualToExcel()" href="javascript:;">
                                    <i class="fa fa-download"></i>
                                    Situaciones y su situacioón actual
                                </a>
                                <a class="dropdown-item" id="ExportStateToExcel" (click)="exportMatrizSituacionesRiesgoActualToExcel()" href="javascript:;">
                                    <i class="fa fa-download"></i>
                                    Situaciones y su nivel de riesgo
                                </a>
                                <a class="dropdown-item" id="ExportStateToExcel" (click)="exportMatrizSituacionesEstadoActualToExcel()" href="javascript:;">
                                    <i class="fa fa-download"></i>
                                    Situaciones y su estado de la situación
                                </a>
                            </div>
                        </div>                        
                        <div class="btn-group" dropdown>
                            <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-file-excel"></i>
                                Operaciones en excel
                            </button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu>
                                <a class="dropdown-item" id="ExportMatrixToExcel" (click)="exportMatrizToExcel()" href="javascript:;">
                                    <i class="fa fa-download"></i> Exportar Matriz
                                </a>
                                <a class="dropdown-item" id="ExportManagementToExcel" (click)="exportManagementToExcel()" href="javascript:;">
                                    <i class="fa fa-download"></i> Exportar Gestiones Realizadas
                                </a>
                                <a class="dropdown-item" id="ExportStateToExcel" (click)="exportStateToExcel()" href="javascript:;">
                                    <i class="fa fa-download"></i> Exportar Situación Actual
                                </a>
                            </div>
                        </div>
                        <button (click)="createSocialConflictSensible()" *ngIf="'Pages.Application.SocialConflictSensible.Create' | permission" class="btn btn-primary">
                            <i class="fa fa-plus"></i>
                            Crear nueva situación sensible al conflicto
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <form class="kt-form" autocomplete="new-password">
                        <div>
                            <div class="row mb-4">
                                <div class="col-sm-12">
                                    <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown">
                                        <i class="fa fa-angle-down"></i>
                                        {{"ShowAdvancedFilters" | localize}}
                                    </span>
                                    <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown">
                                        <i class="fa fa-angle-up"></i>
                                        {{"HideAdvancedFilters" | localize}}
                                    </span>
                                </div>
                            </div>

                            <div class="row justify-content-center align-items-center mb-4" [hidden]="!advancedFiltersAreShown">

                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="mb-2 form-group">
                                        <label for="GlobalFilter">
                                            Filtro
                                        </label>
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" id="GlobalFilter" name="GlobalFilter" class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12"></div>

                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="mb-2 form-group">
                                        <label for="territorialUnitSelect">
                                            Unidad territorial
                                        </label>
                                        <div class="input-group">
                                            <select [(ngModel)]="territorialUnit" id="territorialUnitSelect" name="territorialUnitSelect" class="form-control" type="text">
                                                <option value="-1">
                                                    Todas
                                                </option>
                                                <option *ngFor="let territorialUnit of territorialUnits"
                                                    [value]="territorialUnit.id">
                                                    {{territorialUnit.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12"></div>

                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="mb-2 form-group">
                                        <label for="filterText">
                                            Código
                                        </label>
                                        <div class="input-group">
                                            <input [(ngModel)]="socialConflictSensibleCode" id="filterText" name="filterText" autoFocus class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12"></div>

                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="mb-2 form-group">
                                        <label for="StateSelect">
                                            Estado
                                        </label>
                                        <div class="input-group">
                                            <select [(ngModel)]="verificationState" id="StateSelect" name="StateSelect" class="form-control" type="text">
                                                <option value="-1">
                                                    Todos
                                                </option>
                                                <option [value]="verificationStates.denied">
                                                    No aprobado
                                                </option>
                                                <option [value]="verificationStates.process">
                                                    En proceso
                                                </option>
                                                <option [value]="verificationStates.accepted">
                                                    Aprobado
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12"></div>

                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 my-2">

                                    <div class="kt-checkbox-list">

                                        <label for="Date_Filter" class="kt-checkbox">
                                            <input id="Date_Filter" type="checkbox" name="ActiveFilter"
                                                [(ngModel)]="filterByDate">
                                            Filtrar por fecha
                                            <span></span>
                                        </label>

                                    </div>

                                </div>

                                <ng-container *ngIf="filterByDate">

                                    <div class="col-12"></div>

                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                        <div class="mb-2 form-group mr-2">
                                            <label for="SocialConflictStartTime">
                                                Fecha de registro
                                            </label>
                                            <div class="input-group fix-border">
                                                <input id="SocialConflictStartTime" name="SocialConflictStartTime" type="text" class="form-control" bsDatepicker datePickerMomentModifier [bsConfig]="{ adaptivePosition: true, customTodayClass: 'datepicker-today' }" [(ngModel)]="dateRange[0]">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                        <div class="mb-2 form-group mr-2">
                                            <label for="SocialConflictEndTime">
                                                Fecha final de registro
                                            </label>
                                            <div class="input-group fix-border">
                                                <input id="SocialConflictEndTime" name="SocialConflictEndTime" type="text" class="form-control" bsDatepicker datePickerMomentModifier [bsConfig]="{ adaptivePosition: true, customTodayClass: 'datepicker-today' }" [(ngModel)]="dateRange[1]">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </ng-container>

                                <div class="col-12"></div>

                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-right">
                                    <button (click)="getData()" class="btn btn-primary" type="submit">
                                        <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                                        Buscar
                                    </button>
                                </div>

                            </div>

                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable sortMode="multiple" (onLazyLoad)="getData($event)" [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 100px;text-align: center;"
                                            [hidden]="!(['Pages.Application.SocialConflictSensible.Edit', 'Pages.Application.SocialConflictSensible.Delete'] | permissionAny)">
                                            {{'Actions' | localize}}</th>
                                        <th style="width: 100px; text-align: center;" pSortableColumn="Code">
                                            Código
                                            <p-sortIcon field="Code"></p-sortIcon>
                                        </th>
                                        <th style="width: 300px;text-align: center;" pSortableColumn="CaseName">
                                            Denominación
                                            <p-sortIcon field="CaseName"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px;text-align: center;">
                                            Unidad territorial
                                        </th>
                                        <th style="width: 150px;text-align: center;" pSortableColumn="Verification">
                                            Estado
                                            <p-sortIcon field="Verification"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px;text-align: center;" pSortableColumn="CreationTime">
                                            Fecha de creación
                                            <p-sortIcon field="CreationTime"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 100px"
                                            [hidden]="!(['Pages.Application.SocialConflictSensible.Edit', 'Pages.Application.SocialConflictSensible.Delete'] | permissionAny)">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{"Actions" | localize}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="'Pages.Report.SocialConflictSensible' | permission" (click)="showSensibleDownloader(record)">
                                                            Generar reporte
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="'Pages.Report.HelpMemory.SocialConflictSensible' | permission" (click)="showHelpMemoryDownloader(record)">
                                                            Generar ayuda memoria
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="'Pages.Application.SocialConflictSensible.Edit' | permission" (click)="editSocialConflictSensible(record)">
                                                            <div *ngIf="!_verificationEnabled">{{'Edit' | localize}}</div>
                                                            <div *ngIf="_verificationEnabled">Visualizar</div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="'Pages.Application.SocialConflictSensible.Delete' | permission" (click)="deleteSocialConflictSensible(record)">
                                                            {{'Delete' | localize}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width: 100px; text-align: center;">
                                            <span class="ui-column-title">
                                                Código
                                            </span> {{record.code}}
                                        </td>
                                        <td style="width: 300px;text-align: justify;">
                                            <span class="ui-column-title">
                                                Denominación
                                            </span> {{record.caseName}}
                                        </td>
                                        <td style="width: 150px; text-align: center;">
                                            <span class="ui-column-title">
                                                Unidad territorial
                                            </span> {{record.territorialUnits}}
                                        </td>
                                        <td style="width: 150px;text-align: center;">
                                            <span class="ui-column-title">
                                                Estado
                                            </span>
                                            <span class="kt-badge kt-badge--danger kt-badge--inline" *ngIf="record.verification == verificationStates.denied">
                                                No aprobado
                                            </span>
                                            <span class="kt-badge kt-badge--warning kt-badge--inline" *ngIf="record.verification == verificationStates.process">
                                                En proceso
                                            </span>
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.verification == verificationStates.accepted">
                                                Aprobado
                                            </span>
                                        </td>
                                        <td style="width: 120px;text-align: center;">
                                            <span class="ui-column-title">
                                                Fecha de creación
                                            </span>
                                            {{record.creationTime | momentFormat:'DD/MM/YYYY HH:mm:ss'}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getData($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

                                </p-paginator>
                                <span class="total-records-count">
                                    {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <download-social-conflict-sensible #fileDownloader (modalSave)="completeDownload($event)"></download-social-conflict-sensible>
    <file-download-request #fileDownloadRequest></file-download-request>
</div>