<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">
                    <span>
                        Generar reporte: {{title}}
                    </span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Cerrar">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group col-sm-12">
                    <label for="ActorType">
                        Formato
                    </label>

                    <select class="form-control" id="ActorType" name="ActorType" [(ngModel)]="format">
                        <option value="-1">
                            Seleccione
                        </option>
                        <option *ngIf="formats.pdf.enabled" [value]="formats.pdf.type">
                            PDF (pdf)
                        </option>
                        <option *ngIf="formats.xlsx.enabled" [value]="formats.xlsx.type">
                            EXCEL (xlsx)
                        </option>
                        <option *ngIf="formats.docx.enabled" [value]="formats.docx.type">
                            WORD (docx)
                        </option>
                    </select>

                </div>
                
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold" (click)="close()">
                Cancelar
            </button>
            <button type="submit" class="btn btn-primary font-weight-bold" [buttonBusy]="saving" busyText="Guardar..." (click)="save()">
                <i class="fa fa-download"></i>
                <span>
                    Descargar
                </span>
            </button>
            </div>
        </div>
    </div>
</div>