<div [@routerTransition]>
    <div *ngIf="loaded" class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div class="kt-container">
                <div class="kt-subheader__main">
                    <button (click)="backButtonPressed()" type="button" class="btn btn-light back-button mt-2">
                        {{backButtonText}}
                    </button>
                    <h3 class="kt-subheader__title">
                        Bandeja de Documentos Oficiales
                    </h3>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <button (click)="save()" [buttonBusy]="busy" busyText="Guardando.." *ngIf="('Pages.ConflictTools.DialogSpace.Create' | permission) && !id" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                        <button (click)="save()" [buttonBusy]="busy" busyText="Guardando.." *ngIf="('Pages.ConflictTools.DialogSpace.Edit' | permission) && id && !_verificationEnabled " class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="dialogSpaceDocument" class="kt-container kt-grid__item kt-grid__item--fluid">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">

                    <p-tabView [(activeIndex)]="tabIndex">
                        <p-tabPanel header="Registro de documento oficial">
                            <general-information-dialog-space-document #generalInformationDialogSpaceDocument [dialogSpaceDocument]="dialogSpaceDocument" [documentTypes]="documentTypes" [situations]="situations">
                            </general-information-dialog-space-document>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>