<div class="row">
    <div class="col-12 mt-3" *ngIf="state.sectorMeet.uploadFiles?.length > 0">
        <h5 class="d-block text-left text-dark font-weight-bold mt-2">
            Archivos por publicar
        </h5>
        <hr>
    </div>
</div>

<div *ngFor="let attachment of state.sectorMeet.uploadFiles; index as i;" class="row upload-file-row py-3 mx-0">
    <i [class]="attachment.className"></i>
    <div class="d-flex flex-column upload-file-body">
        <label class="title">
            {{attachment.name}}
        </label>
        <label class="metadata">
            {{attachment.creationTime | momentFormat: 'DD/MM/YYYY HH:mm:ss'}}
        </label>
        <label class="size">
            {{attachment.size}}
        </label>
    </div>
    <div class="upload-file-trash my-auto pr-4">
        <button class="btn btn-danger" type="button" aria-label="Remove Button" (click)="removeAttachment(i)">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
</div>