<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="active">
            <form #phasemilestoneForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="rowIndex || rowIndex == 0; else elseRowIndex">
                            Editar cronograma de cumplimiento
                        </span>
                        <ng-template #elseRowIndex>
                            <span>
                                Crear cronograma de cumplimiento
                            </span>
                        </ng-template>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Cerrar" [disabled]="saving">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body row">

                    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="PhaseMilestoneLevel">
                            Fase y etapa (*)
                        </label>
                        <select (change)="onPhaseChange($event)" class="form-control" id="PhaseMilestoneLevel"
                            name="PhaseMilestoneLevel" [(ngModel)]="timeline.phase.id">
                            <option value="-1">
                                Seleccione
                            </option>
                            <option *ngFor="let phase of phases" [value]="phase.id">
                                {{phase.value}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="PhaseMilestoneSelect">
                            Hito (*)
                        </label>
                        <select [disabled]="timeline.phase.id == -1" (change)="onMilestoneChange($event)"
                            class="form-control" id="PhaseMilestoneSelect" name="PhaseMilestoneSelect"
                            [(ngModel)]="timeline.milestone.id">
                            <option value="-1">
                                Seleccione
                            </option>
                            <option *ngFor="let milestone of selectedMilestones" [value]="milestone.id">
                                {{milestone.value}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="PhaseMilestoneTimeInput">
                            Fecha proyectada {{(!proyectedTime && !completedTime) || proyectedTime ? '(*)' : ''}}
                        </label>
                        <div class="input-group fix-border">
                            <input #datePicker="bsDatepicker" id="PhaseMilestoneTimeInput"
                                name="PhaseMilestoneTimeInput" type="text" class="form-control" bsDatepicker
                                datePickerMomentModifier [bsConfig]="{ adaptivePosition: true, customTodayClass: 'datepicker-today' }"
                                [(ngModel)]="proyectedTime">
                            <span (click)="datePicker.toggle()" class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="PhaseMilestoneCompletedInput">
                            Fecha cumplimiento {{(!proyectedTime && !completedTime) || completedTime ? '(*)' : ''}}
                        </label>
                        <div class="input-group fix-border">
                            <input #datePicker2="bsDatepicker" id="PhaseMilestoneCompletedInput"
                                name="PhaseMilestoneCompletedInput" type="text" class="form-control" bsDatepicker
                                datePickerMomentModifier [bsConfig]="{ adaptivePosition: true, customTodayClass: 'datepicker-today' }"
                                [(ngModel)]="completedTime">
                            <span (click)="datePicker2.toggle()" class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="PhaseMilestoneDescription">
                            Observación
                        </label>
                        <textarea #phasemilestoneDescriptionInput id="PhaseMilestoneDescription" #nameInput="ngModel"
                            class="form-control" type="text" name="Name" [(ngModel)]="timeline.observation" rows="4"
                            maxlength="1000"></textarea>
                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                        <span class="input-legth">
                            {{phasemilestoneDescriptionInput?.value ? phasemilestoneDescriptionInput?.value?.length :
                            0}}/{{phasemilestoneDescriptionInput.maxLength}}
                        </span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold"
                        (click)="close()">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary font-weight-bold"
                        [disabled]="!phasemilestoneForm.form.valid" [buttonBusy]="saving" busyText="Guardar..."
                        (click)="save()">
                        <i class="fa fa-save"></i>
                        <span>
                            Guardar
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>