<div appBsModal #findActorModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="findActorModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-xxl">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">
                    <span>
                        Seleccionar Actor
                    </span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Cerrar">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="kt-form" autocomplete="new-password">
                    <div>
                        <div class="row mb-4">

                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                <div class="mb-2 form-group">
                                    <label for="FullNameFilter">
                                        Nombre
                                    </label>
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" id="FullNameFilter" name="FullNameFilter" autoFocus
                                            class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 text-right">
                                <button (click)="resetFilters()" aria-label="Borrar filtros" class="btn btn-warning"
                                    type="button">
                                    <i class="fas fa-redo"></i>
                                    Borrar
                                </button>
                                <button (click)="getData()" class="btn btn-primary" type="submit">
                                    <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                                    Buscar
                                </button>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-body">

                <div class="primeng-datatable-container ui-table-border ui-table-small-details mx-2"
                    [busyIf]="primengTableHelper.isLoading">
                    <p-table #findDataTable sortMode="multiple" (onLazyLoad)="getData($event)"
                        [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                        [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                        [responsive]="primengTableHelper.isResponsive"
                        [resizableColumns]="primengTableHelper.resizableColumns">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 60px">
                                </th>
                                <th style="width: 250px" pSortableColumn="FullName">
                                    Nombre
                                    <p-sortIcon field="FullName"></p-sortIcon>
                                </th>
                                <th style="width: 150px" pSortableColumn="DocumentNumber">
                                    N° Documento
                                    <p-sortIcon field="DocumentNumber"></p-sortIcon>
                                </th>
                                <th style="width: 200px" pSortableColumn="JobPosition">
                                    Cargo
                                    <p-sortIcon field="JobPosition"></p-sortIcon>
                                </th>
                                <th style="width: 150px" pSortableColumn="PhoneNumber">
                                    Teléfono
                                    <p-sortIcon field="PhoneNumber"></p-sortIcon>
                                </th>
                                <th style="width: 200px" pSortableColumn="Institution">
                                    Institución
                                    <p-sortIcon field="Institution"></p-sortIcon>
                                </th>
                                <th style="width: 130px" pSortableColumn="Enabled">
                                    Habilitado
                                    <p-sortIcon field="Enabled"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-record="$implicit">
                            <tr>
                                <td style="width: 60px">
                                    <button (click)="selectActor(record)"
                                        class="btn btn-primary btn-selection">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </td>
                                <td style="width: 250px">
                                    <span class="ui-column-title">
                                        Nombre
                                    </span> {{record.fullName}}
                                </td>
                                <td style="width: 150px">
                                    <span class="ui-column-title">
                                        N° Documento
                                    </span> {{record.documentNumber}}
                                </td>
                                <td style="width: 200px">
                                    <span class="ui-column-title">
                                        Cargo
                                    </span> {{record.jobPosition}}
                                </td>
                                <td style="width: 150px">
                                    <span class="ui-column-title">
                                        Teléfono
                                    </span> {{record.phoneNumber}}
                                </td>
                                <td style="width: 200px">
                                    <span class="ui-column-title">
                                        Institución
                                    </span> {{record.institution}}
                                </td>
                                <td style="width: 130px">
                                    <span class="ui-column-title">
                                        Habilitado
                                    </span>
                                    <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.enabled">
                                        Si
                                    </span>
                                    <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.enabled">
                                        No
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                        Sin registros
                    </div>
                    <div class="primeng-paging-container">
                        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #findPaginator
                            (onPageChange)="getData($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                        </p-paginator>
                        <span class="total-records-count">
                            Registros: {{primengTableHelper.totalRecordsCount}}
                        </span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" (click)="close()">
                    Salir
                </button>
            </div>
        </div>
    </div>
</div>