hr {
    background: #8DA1B5 !important;
    height: 1px;
    width: 100%;
    margin-bottom: 0.5rem !important;
    margin-top: 0.5rem !important;
}

.input-group-text {
    background: #C4C4C4 !important;
    border-left: 0 !important;
}

.input-group-right>.form-control:focus~span {
    border-color: #9aabff;
}

.input-group-right>span {
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.input-group-right>span:hover {
    background: #dadada !important;
}

.input-group-right>span:active {
    background: #ebebeb !important;
}

.tab-container {
    padding-top: 20px;
}

.fix-border>input {
    border-radius: 5px 0 0 5px;
}

.fix-border>span {
    border-radius: 0 5px 5px 0;
}

input:disabled,
textarea:disabled {
    background: #DADADA !important;
    border-color: #C4C4C4 !important;
}
