<div class="row mt-3">
 
    <ng-container *ngIf="!state.sectorMeet.replaceCode">

        <div *ngIf="state.sectorMeet.id" class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="mb-2 form-group">
                <label for="SectorMeetCode">
                    Código
                </label>
                <div class="input-group">
                    <input id="SectorMeetCode" value="{{state.sectorMeet.code}}" class="form-control" type="text"
                        maxlength="20" disabled>
                </div>
            </div>
        </div>


        <div *ngIf="!state.sectorMeet.id" class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="mb-2 form-group">
                <label for="SectorMeetCodeInput">
                    Código
                </label>
                <div class="input-group">
                    <input id="SectorMeetCodeInput" value="Generado automáticamente" class="form-control" type="text"
                        maxlength="20" disabled>
                </div>
            </div>
        </div>

    </ng-container>

    <ng-container *ngIf="state.sectorMeet.replaceCode">

        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="mb-2 form-group">
                <label for="SectorMeetCodeText">
                    Nuevo Código (Final)
                </label>
                <div class="input-group">
                    <input id="SectorMeetCodeText" value="{{finalCode}}" class="form-control" type="text" maxlength="20"
                        disabled>
                </div>
            </div>
        </div>

    </ng-container>

    <div class="col-12"></div>

    <ng-container *ngIf="state.sectorMeet.replaceCode">

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
            <div class="mb-2 form-group">
                <label for="SectorMeetCodeCount">
                    Código (Número)
                </label>
                <div class="input-group">
                    <input placeholder="El número de generación del código ejemplo: 5"
                        [(ngModel)]="state.sectorMeet.replaceCount" id="SectorMeetCodeCount" name="SectorMeetCodeCount"
                        class="form-control" (keyup)="keyUpOnlyNumber($event)" (keypress)="keyPressOnlyNumbers($event)"
                        type="text" maxlength="11">
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
            <div class="mb-2 form-group">
                <label for="SectorMeetCodeYear">
                    Código (Año)
                </label>
                <div class="input-group">
                    <input placeholder="El año de generación del código ejemplo: 2022"
                        [(ngModel)]="state.sectorMeet.replaceYear" id="SectorMeetCodeYear" name="SectorMeetCodeYear"
                        class="form-control" (keyup)="keyUpOnlyNumber($event)" (keypress)="keyPressOnlyNumbers($event)"
                        type="text" maxlength="11">
                </div>
            </div>
        </div>

        <div class="col-12 my-3"></div>

    </ng-container>

    <div class="col-12">
        <div class="mb-2 form-group">
            <label for="SectorMeetName">
                Nombre de la Reunión
            </label>
            <div class="input-group">
                <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
                    cdkAutosizeMaxRows="100" #SectorMeetNameInput id="SectorMeetName"
                    [(ngModel)]="state.sectorMeet.meetName" name="SectorMeetName" class="form-control"
                    maxlength="5000"></textarea>
                <span class="input-legth">
                    {{SectorMeetNameInput.value ?
                    SectorMeetNameInput.value.length :
                    0}}/{{SectorMeetNameInput.maxLength}}
                </span>
            </div>
        </div>
    </div>


    <div class="col-12 my-4">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Caso de conflictividad vinculado a la Reunión
        </h5>
        <hr>
    </div>

    <div class="col-12">
        <div class="mb-2 form-group">
            <label for="SectorMeetSocialConflictInput">
                Caso
            </label>
            <div class="input-group input-group-right">
                <textarea id="SectorMeetSocialConflictInput" name="SectorMeetSocialConflictInput" class="form-control"
                    type="text" value="{{socialConflictTitle}}" disabled></textarea>
                <span class="input-group-text border-0" (click)="findSocialConflict()">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <div *ngIf="state.sectorMeet.socialConflict" class="row col-12 mt-2 text-right mx-0 px-0">
                <button type="button" (click)="removeSocialConflict()" class="mb-2 ml-auto btn btn-danger">
                    <i class="fa fa-minus"></i>
                    Eliminar caso
                </button>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="mb-2 form-group">
            <label for="SectorMeetTerritorial">
                Unidad Territorial (*)
            </label>
            <div class="input-group">
                <select (change)="onTerritorialUnitChange($event)" [(ngModel)]="state.sectorMeet.territorialUnit.id"
                    id="SectorMeetTerritorial" name="SectorMeetTerritorial" class="form-control" type="text">
                    <option value="-1">
                        Seleccione
                    </option>
                    <option *ngFor="let territorialUnit of state.territorialUnits" [value]="territorialUnit.id">
                        {{territorialUnit.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="mb-2 form-group">
            <label for="meetingRiskLevel">
                Nivel de Riesgo de la Reunión (*)
            </label>
            <div class="input-group">
                <select
                    id="meetingRiskLevel" [(ngModel)]="state.sectorMeet.riskLevel" name="meetingRiskLevel" class="form-control" type="text">
                    <option [ngValue]="null">Seleccione</option>
                    <option *ngFor="let meetingRiskLevel of meetingRiskLevels" [value]="meetingRiskLevel.id">
                        {{meetingRiskLevel.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="mb-2 form-group">
            <label for="typeMeeting">
                Tipo de Reunión (*)
            </label>
            <div class="input-group">
                <select
                    id="typeMeeting" name="typeMeeting" class="form-control" type="text" [(ngModel)]="state.sectorMeet.meetType">
                    <option [ngValue]="null">Seleccione</option>
                    <option *ngFor="let typeMeeting of typesMeeting" [value]="typeMeeting.id">
                        {{typeMeeting.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3 col-lg-6 col-xl-2 col-xxl-2">
        <div class="mb-2 form-group">
            <label for="SectorMeetSessionLongitude ">
                Nombre del Responsable SSGD (*)
            </label>
            <div class="input-group">
                <input [(ngModel)]="state.sectorMeet.responsibleName" id="responsibleName " name="responsibleName " autoFocus
                    class="form-control" [placeholder]="l('Ingrese nombre del Responsable ')" type="text">
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
        <div class="mb-2 form-group">
            <label for="rolId">
                Rol de la SSGD-PCM (*)
            </label>
            <div class="input-group">
                <select [(ngModel)]="state.sectorMeet.rolId" id="rolId"
                    name="rolId" class="form-control" type="text">
                    <option [ngValue]="null">Seleccione</option>
                    <option [value]="4">
                        Usuario SSSGC
                    </option>
                    <option [value]="5">
                        Coordinador UT
                    </option>
                    <option [value]="6">
                        Gestor UT
                    </option>
                    <option [value]="1005">
                        Analista
                    </option>
                    <option [value]="1006">
                        GeoPeru
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
        <div class="mb-2 form-group">
            <label for="rolId">
                Modalidad de Reunión (*)
            </label>
            <div class="input-group">
                <select [(ngModel)]="state.sectorMeet.modality" id="modality"
                    name="rolId" class="form-control" type="text">
                    <option [ngValue]="null">Seleccione</option>
                    <option [value]="1">
                        Digital 
                    </option>
                    <option [value]="2">
                        Presencial
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-2 col-xxl-2">
        <div class="mb-2 form-group">
            <label for="object">
                Objetivo de la Reunión (*)
            </label>
            <div class="input-group">
                <input [(ngModel)]="state.sectorMeet.object" id="object " name="object " autoFocus
                    class="form-control" [placeholder]="l('Ingrese el objetivo de la Reunión')" type="text">
            </div>
        </div>
    </div>

    <div class="col-12 my-4">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Sesiones
        </h5>

        <hr>
    </div>
 
    <div class="col-12 text-right mb-2 mx-0">
        <button (click)="addSession()" class="mb-0 mt-auto btn btn-primary">
            <i class="fa fa-plus"></i>
            Crear Sesión
        </button>
    </div>

</div>

<div class="row align-items-center">
    <!--<Primeng-TurboTable-Start>-->
    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getData($event)" [value]="primengTableHelper.records"
            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
            [resizableColumns]="primengTableHelper.resizableColumns">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 130px"
                        [hidden]="!(['Pages.ConflictTools.SectorMeet.Edit', 'Pages.ConflictTools.SectorMeet.Delete', 'Pages.Report.ConflictTools.SectorMeetSession'] | permissionAny)">
                        {{'Actions' | localize}}</th>
                    <th style="width: 150px" pSortableColumn="SessionTime">
                        Fecha de sesión
                        <p-sortIcon field="SessionTime"></p-sortIcon>
                    </th>
                    <th style="width: 180px" pSortableColumn="Type">
                        Tipo de sesión
                        <p-sortIcon field="Type"></p-sortIcon>
                    </th>
                    <th style="width: 350px" pSortableColumn="Location">
                        Sede
                        <p-sortIcon field="Location"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="Department">
                        Departamento
                        <p-sortIcon field="Department"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="Province">
                        Provincia
                        <p-sortIcon field="Province"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="District">
                        Distrito
                        <p-sortIcon field="District"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit">
                <tr>
                    <td style="width: 130px"
                        [hidden]="!(['Pages.Application.ConflictTools.Edit', 'Pages.ConflictTools.SectorMeet.Delete', 'Pages.Report.ConflictTools.SectorMeetSession'] | permissionAny)">
                        <div class="btn-group dropdown" dropdown container="body">
                            <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                <i class="fa fa-cog"></i><span class="caret"></span>
                                {{"Actions" | localize}}
                            </button>
                            <ul class="dropdown-menu" *dropdownMenu>
                                <li>
                                    <a href="javascript:;" *ngIf="'Pages.Report.ConflictTools.SectorMeetSession' | permission"
                                        (click)="createReport(record)">
                                        Generar reporte
                                    </a>
                                    <a href="javascript:;" *ngIf="'Pages.ConflictTools.SectorMeet.Edit' | permission"
                                        (click)="editSession(record)">
                                        {{'Edit' | localize}}
                                    </a>
                                    <a href="javascript:;" *ngIf="'Pages.ConflictTools.SectorMeet.Delete' | permission"
                                        (click)="deleteSession(record)">
                                        {{'Delete' | localize}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td style="width: 150px">
                        <span class="ui-column-title">
                            Fecha de sesión
                        </span> {{record.sessionTime | momentFormat: 'DD/MM/YYYY HH:mm'}}
                    </td>
                    <td style="width: 180px">
                        <span class="ui-column-title">
                            Tipo de sesión
                        </span> {{record.type == types.presential ? 'Presencial' : 'Remota'}}
                    </td>
                    <td style="width: 350px">
                        <span class="ui-column-title">
                            Sede
                        </span>
                        <div class="retricted-text">
                            {{record.location}}
                        </div>
                    </td>
                    <td style="width: 150px">
                        <span class="ui-column-title">
                            Departamento
                        </span> {{record.department ? record.department.name : ''}}
                    </td>
                    <td style="width: 150px">
                        <span class="ui-column-title">
                            Provincia
                        </span> {{record.province ? record.province.name : ''}}
                    </td>
                    <td style="width: 150px">
                        <span class="ui-column-title">
                            Distrito
                        </span> {{record.district ? record.district.name : ''}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
            {{'NoData' | localize}}
        </div>
        <div class="primeng-paging-container">
            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                (onPageChange)="getData($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

            </p-paginator>
            <span class="total-records-count">
                {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
            </span>
        </div>
    </div>
    <!--<Primeng-TurboTable-End>-->
</div>