<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="active">
            <form #descriptionForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="rowIndex || rowIndex == 0; else elseRowIndex">
                            Editar mensaje
                        </span>
                        <ng-template #elseRowIndex>
                            <span>
                                Crear mensaje
                            </span>
                        </ng-template>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Cerrar" [disabled]="saving">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body row">

                    <div class="form-group col-sm-12">
                        <label for="MessageDescription">
                            Descripción
                        </label>
                        <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
                            cdkAutosizeMaxRows="100" id="MessageDescription" #descriptionInput
                            #descriptionInputValidation="ngModel" class="form-control" type="text"
                            name="MessageDescription" [(ngModel)]="item.description" maxlength="5000"></textarea>
                        <validation-messages [formCtrl]="descriptionInputValidation"></validation-messages>
                        <span class="input-legth">
                            {{descriptionInput.value ? descriptionInput.value?.length :
                            0}}/{{descriptionInput.maxLength}}
                        </span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold"
                        (click)="close()">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!descriptionForm.form.valid"
                        [buttonBusy]="saving" busyText="Guardar..." (click)="save()">
                        <i class="fa fa-save"></i>
                        <span>
                            Guardar
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>