<div class="send-password-reset-container" [@routerTransition]>
    <div class="kt-login__form">
        <div class="kt-login__title mb-3">
            <h3 class="m-0">
                ¿Olvidaste la contraseña?
            </h3>
        </div>

        <div class="kt-login__title mb-4">
            <h6 class="m-0">
                Ingresa tu correo electrónico te enviaremos un código para que puedas restablecer la contraseña
            </h6>
        </div>

        <form #sendResetPasswordForm="ngForm" class="kt-form mt-0" method="post" novalidate (ngSubmit)="send()">

            <div class="form-group">
                <input #emailAddressInput="ngModel" (keyup)="keyUpOnlyValidTex($event)"
                    (keypress)="keyPressWhiteSpace($event)" [(ngModel)]="emailAddress" autoFocus
                    class="form-control m-input" type="text" autocomplete="reset-email"
                    placeholder="Correo electrónico (*)" name="userNameOrEmailAddress" required />
                <validation-messages [formCtrl]="emailAddressInput" *ngIf="!emailAddressInput.touched">
                </validation-messages>
            </div>

            <div class="kt-login__actions">
                <button type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary d-block w-100"
                    [disabled]="!sendResetPasswordForm.form.valid">
                    Enviar
                </button>
            </div>

        </form>

    </div>
</div>