.compromise-site-1 {
    background: #DBEAFE;
    color: #3045AF;
}

.compromise-site-2 {
    background: #FEF3C7;
    color: #924032;
}

.compromise-site-3 {
    background: #DCFCE7;
    color: #16653F;
}