<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="active">
            <form #factForm="ngForm" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">
                        
                            <span>
                                Editar nombre de archivo
                            </span>
                        
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Cerrar" [disabled]="saving">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body row">


                    <div  class="col-12 mt-3">
                        <div class="mb-2 form-group">
                            <label for="RecordTitle">
                                Título del documento
                            </label>
                            <input [(ngModel)]="item.newName" type="text" id="RecordTitle" name="RecordTitle" class="form-control"
                                maxlength="255">
                        </div>
                    </div>

 



                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold"
                        (click)="close()">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!factForm.form.valid"
                        [buttonBusy]="saving" busyText="Guardar..." (click)="save()">
                        <i class="fa fa-save"></i>
                        <span>
                            Guardar
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>