<div [@routerTransition]>
    <ng-container *ngIf="loaded">
        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
            <div class="kt-subheader kt-grid__item">
                <div class="kt-container">
                    <div class="kt-subheader__main">
                        <button (click)="backButtonPressed()" type="button" class="btn btn-light back-button mt-2">
                            {{backButtonText}}
                        </button>
                        <h3 class="kt-subheader__title">
                            Bandeja de Ayuda Memoria
                        </h3>
                    </div>
                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
                            <button (click)="save()" [buttonBusy]="busy" busyText="Guardando.." *ngIf="('Pages.Application.HelpMemory.Create' | permission) && !id" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                            <button (click)="save()" [buttonBusy]="busy" busyText="Guardando.." *ngIf="('Pages.Application.HelpMemory.Edit' | permission) && id && !_verificationEnabled" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-container kt-grid__item kt-grid__item--fluid">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body">

                        <p-tabView *ngIf="helpMemory" [(activeIndex)]="tabIndex">
                            <p-tabPanel header="Aspectos generales">
                                <general-information-help-memory
                                    #generalInformation  
                                    [(helpMemory)]="helpMemory" 
                                    [(busy)]="busy"
                                    (showConflictModal)="showConflictModal()"
                                    (showDirectoryGovernmentModal)="showDirectoryGovernmentModal()"
                                    >
                                </general-information-help-memory>
                            </p-tabPanel>
                        </p-tabView>

                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <find-conflict #findConflictModal (modalSave)="selectConflict($event)"></find-conflict>
    <find-directory-government #findDirectoryGovernmentModal (modalSave)="selectDirectoryGovernment($event)" ></find-directory-government>
</div>