<div class="tab-container">

    <h5 class="d-block text-left text-dark font-weight-bold">
        Información del acta
    </h5>

    <hr>

    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="mb-2 form-group">
                <label for="RecordCode">
                    Acta
                </label>
                <div class="input-group input-group-right">
                    <input class="form-control" type="text" name="RecordCode" id="RecordCode"
                        value="{{compromise.record ? compromise.record.code : 'Seleccione el acta'}}" disabled>
                    <span class="input-group-text" (click)="showFindRecord()">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>

        <div *ngIf="compromise.record" class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="mb-2 form-group">
                <label for="RecordTimeData">
                    Fecha de acta
                </label>
                <div class="input-group">
                    <input type="text" name="RecordTimeData" id="RecordTimeData"
                        value="{{compromise?.record?.recordTime | momentFormat: 'L'}}" class="form-control" disabled>
                </div>
            </div>
        </div>

        <div *ngIf="!compromise.record" class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="mb-2 form-group">
                <label for="RecordTimeDisplay">
                    Fecha de acta
                </label>
                <div class="input-group">
                    <input type="text" name="RecordTimeDisplay" id="RecordTimeDisplay" class="form-control" disabled>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="mb-2 form-group">
                <label for="CompromiseCode">
                    Código de compromiso
                </label>
                <div class="input-group">
                    <input class="form-control" aria-label="compromise-code" name="CompromiseCode" id="CompromiseCode"
                        type="text" value="{{compromise?.code}}" disabled>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="mb-2 form-group">
                <label for="DialogSpace">
                    Espacio de dialogo
                </label>
                <div class="input-group">
                    <input class="form-control" name="DialogSpace" id="DialogSpace" type="text"
                        value="{{compromise?.record?.socialConflict?.dialog}}" disabled>
                        <span class="input-group-text border-0" (click)="findConflictEspacio(compromise)">
                            <i class="fas fa-search"></i>
                        </span>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="mb-2 form-group">
                <label for="RecordSocialConflictName">
                    Caso de conflictividad social
                </label>
                <div class="input-group">
                    <input name="RecordSocialConflictName" id="RecordSocialConflictName" class="form-control"
                        type="text"
                        value="{{compromise.record ? compromise?.record?.socialConflict?.code + ' - ' + compromise?.record?.socialConflict?.caseName : ''}}"
                        disabled>
                        <span class="input-group-text border-0" (click)="findSocialConflict(compromise)">
                            <i class="fas fa-search"></i>
                        </span>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="mb-2 form-group">
                <label for="RecordTitle">
                    Título del acta
                </label>
                <div class="input-group">
                    <input name="RecordTitle" id="RecordTitle" class="form-control" type="text"
                        value="{{compromise.record ? compromise.record.title : ''}}" disabled>
                </div>
            </div>
        </div>

    </div>

    <h5 class="d-block text-left text-dark font-weight-bold pt-5">
        Información general del compromiso
    </h5>

    <hr>

    <div class="row">

        <div class="col-12">
            <div class="mb-2 form-group">
                <label for="CompromiseName">
                    Denominación del Compromiso (*)
                </label>
                <div class="input-group">
                    <input #compromiseNameInput name="CompromiseName" id="CompromiseName" class="form-control"
                        type="text" maxlength="1000" [(ngModel)]="compromise.name">
                    <span class="input-legth">
                        {{compromiseNameInput.value ? compromiseNameInput.value.length :
                        0}}/{{compromiseNameInput.maxLength}}
                    </span>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="mb-2 form-group">
                <label for="CompromiseDescription">
                    Descripción (Provisional)
                </label>
                <div class="input-group">
                    <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
                        cdkAutosizeMaxRows="100" #compromiseDescriptionInput [(ngModel)]="compromise.description"
                        name="SocialConflictDescription" id="CompromiseDescription" class="form-control"
                        maxlength="5000"></textarea>
                    <span class="input-legth">
                        {{compromiseDescriptionInput.value ? compromiseDescriptionInput.value.length :
                        0}}/{{compromiseDescriptionInput.maxLength}}
                    </span>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="mb-2 form-group">
                <label for="CompromiseTranscription">
                    Transcripción
                </label>
                <div class="input-group">
                    <textarea cdkTextareaAutosize #autosizeTranscription="cdkTextareaAutosize" cdkAutosizeMinRows="5"
                        cdkAutosizeMaxRows="100" #compromiseTranscriptionInput [(ngModel)]="compromise.transcription"
                        name="CompromiseTranscription" id="CompromiseTranscription" class="form-control"
                        maxlength="50000"></textarea>
                    <span class="input-legth">
                        {{compromiseTranscriptionInput.value ? compromiseTranscriptionInput.value.length :
                        0}}/{{compromiseTranscriptionInput.maxLength}}
                    </span>
                </div>
            </div>
        </div>

        <div class="col-12"></div>  

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="mb-2 form-group">
                <label for="CompromiseTypeSelect">
                    Tipo (*)
                </label>
                <div class="input-group">
                    <select name="CompromiseTypeSelect" id="CompromiseTypeSelect" class="form-control" type="text"
                        [(ngModel)]="compromise.type">
                        <option value="0">
                            Seleccione
                        </option>
                        <option value="1">
                            PIP
                        </option>
                        <option value="2">
                            Actividad
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="mb-2 form-group">
                <label for="WomanCompromiseSelect">
                    Temática mujer
                </label>
                <div class="input-group">
                    <select (change)="onWomanCompromiseChange($event)" name="WomanCompromiseSelect" id="WomanCompromiseSelect" class="form-control" type="text"
                        [(ngModel)]="compromise.isWomanCompromise">
                        <option value="true">
                            Si
                        </option>
                        <option value="false">
                            No
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="mb-2 form-group">
                <label for="LabelCompromiseSelect">
                    Etiquetas
                </label>
                <div class="input-group">
                    <select name="LabelCompromiseSelect" id="LabelCompromiseSelect" class="form-control" type="text"
                        [(ngModel)]="compromise.compromiseLabel.id">
                        <option value="-1">
                            Seleccione
                        </option>
                        <option *ngFor="let label of labels" [value]="label.id">
                            {{label.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="col-12"></div>

        <div class="row align-items-center my-4 mx-0">
            <!--<Primeng-TurboTable-Start>-->
            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                <p-table #dataTable sortMode="multiple" [value]="compromise.compromiseLocations"
                    rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                    [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                    [resizableColumns]="primengTableHelper.resizableColumns">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 200px">
                                Departamento
                            </th>
                            <th style="width: 200px">
                                Provincia
                            </th>
                            <th style="width: 200px">
                                Distrito
                            </th>
                            <th style="width: 100px">
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                        <tr [hidden]="record.isHidden">
                            <td style="width: 200px">
                                <span class="ui-column-title">
                                    Departamento
                                </span> {{record.socialConflictLocation ? record.socialConflictLocation.department.name : 'N/A'}}
                            </td>
                            <td style="width: 200px">
                                <span class="ui-column-title">
                                    Provincia
                                </span> {{record.socialConflictLocation ? record.socialConflictLocation.province.name : 'N/A'}}
                            </td>
                            <td style="width: 200px">
                                <span class="ui-column-title">
                                    Distrito
                                </span> {{record.socialConflictLocation ? record.socialConflictLocation.district.name : 'N/A'}}
                            </td>
                            <td style="width: 100px">
                                <p-checkbox [(ngModel)]="record.check" [binary]="true"></p-checkbox>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div *ngIf="!compromise.compromiseLocations || compromise.compromiseLocations.length == 0" class="primeng-no-data">
                    {{'NoData' | localize}}
                </div>
                <div class="primeng-paging-container">
                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                        (onPageChange)="getData($event)" [totalRecords]="compromise.compromiseLocations.length"
                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                    </p-paginator>
                    <span class="total-records-count">
                        {{'TotalRecordsCount' | localize:compromise.compromiseLocations.length}}
                    </span>
                </div>
            </div>
            <!--<Primeng-TurboTable-End>-->
        </div>

        
        <div class="col-12"></div>

        <div class="row align-items-center my-4 mx-0">
            <conflict-pendings
            [conflicts]="conflicts"
            [compromise]="compromise"
            (listDataConflicts)="listDataConflicts()"
            [type]="type"
            ></conflict-pendings>
        </div>

    </div>

</div>
<div class="row" *ngIf="compromise?.creatorUser">

    <div class="col-12 mt-4 mb-2">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Información de registro
        </h5>

        <hr>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
        <div class="mb-2 form-group">
            <label for="UserRegisterInput">
                Registrado por
            </label>
            <div class="input-group">
                <input class="form-control" id="UserRegisterInput" value="{{compromise.creatorUser.name}} {{compromise.creatorUser.surname}}"
                    type="text" readonly>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="UserRegisterDateInput">
                Fecha de registro
            </label>
            <div class="input-group">
                <input class="form-control" id="UserRegisterDateInput"
                    value="{{compromise.creationTime | momentFormat: 'L'}}" type="text" readonly>
                <span class="input-group-text">
                    <i class="far fa-calendar-alt"></i>
                </span>
            </div>
        </div>
    </div>

    <ng-container *ngIf="compromise?.editUser">

        <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
            <div class="mb-2 form-group">
                <label for="UserUpdateInput">
                    Última actualización
                </label>
                <div class="input-group">
                    <input class="form-control" id="UserUpdateInput" value="{{compromise.editUser.name}} {{compromise.editUser.surname}}"
                        type="text" readonly>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
            <div class="mb-2 form-group">
                <label for="UserUpdateDateInput">
                    Fecha de actualización
                </label>
                <div class="input-group">
                    <input id="UserUpdateDateInput" class="form-control"
                        value="{{compromise.lastModificationTime | momentFormat: 'L'}}" type="text" readonly>
                    <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                    </span>
                </div>
            </div>
        </div>

    </ng-container>

</div>