<form class="my-4 kt-form" autocomplete="new-password">

    <div class="row justify-content-center align-items-center mb-4">

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-2 form-group">
                <label for="GlobalFilter">
                    Tipo
                </label>
                <div class="input-group">
                    <select [(ngModel)]="typeSelected" id="TypeSelect" name="TypeSelect" class="form-control"
                        type="text">
                        <option value="-1">
                            -Seleccionar-
                        </option>
                        <option *ngFor="let item of typeCompromise" [value]="item.value">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-2 form-group">
                <label for="GlobalFilter">
                    Estado
                </label>
                <div class="input-group">
                  
                
                        <select [(ngModel)]="statusSelected" id="StatusSelect" name="StatusSelect" class="form-control"
                        type="text">
                        <option value="-1">
                            -Seleccionar-
                        </option>
                        <option *ngFor="let item of statusList" [value]="item.id">
                            {{item.value}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

       

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-2 form-group">
                <label for="SocialConflictStartTime">
                    Fecha Limite
                </label>
                <div class="input-group fix-border">
                    <input id="SocialConflictStartTime" name="SocialConflictStartTime"
                        type="text" class="form-control" bsDatepicker
                        datePickerMomentModifier
                        [bsConfig]="{ adaptivePosition: true, customTodayClass: 'datepicker-today' }"
                        [(ngModel)]="dateRange[0]">
                    <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-2 form-group">
                <label for="SocialConflictEndTime">
                    Fecha final de Limite
                </label>
                <div class="input-group fix-border">
                    <input id="SocialConflictEndTime" name="SocialConflictEndTime"
                        type="text" class="form-control" bsDatepicker
                        datePickerMomentModifier
                        [bsConfig]="{ adaptivePosition: true, customTodayClass: 'datepicker-today' }"
                        [(ngModel)]="dateRange[1]">
                    <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-2 form-group">
                <label for="SocialConflictStartTime">
                    Fecha Cumplimiento
                </label>
                <div class="input-group fix-border">
                    <input id="SocialConflictStartTime" name="SocialConflictStartTime"
                        type="text" class="form-control" bsDatepicker
                        datePickerMomentModifier
                        [bsConfig]="{ adaptivePosition: true, customTodayClass: 'datepicker-today' }"
                        [(ngModel)]="dateRangeFulfillment[0]">
                    <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-2 form-group">
                <label for="SocialConflictEndTime">
                    Fecha final de Cumplimiento
                </label>
                <div class="input-group fix-border">
                    <input id="SocialConflictEndTime" name="SocialConflictEndTime"
                        type="text" class="form-control" bsDatepicker
                        datePickerMomentModifier
                        [bsConfig]="{ adaptivePosition: true, customTodayClass: 'datepicker-today' }"
                        [(ngModel)]="dateRangeFulfillment[1]">
                    <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-2 form-group">
                <label for="GlobalFilter">
                    Buscar por nombre del compromiso
                </label>
                <div class="input-group">
                    <input [(ngModel)]="filterText" id="GlobalFilter" name="GlobalFilter" class="form-control"
                        [placeholder]="l('SearchWithThreeDot')" type="text">
                    <!-- <span class="input-group-btn">
            <button (click)="getData()" class="btn btn-primary" type="submit" aria-label="Buscar">
                <i class="flaticon-search-1"></i>
            </button>
        </span> -->
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-left">
            <button (click)="getData()" class="btn btn-primary" type="submit">
                <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                Buscar
            </button>
        </div>




    </div>




</form>


<div class="row mx-0 align-items-center mb-4">

    <div *ngIf="charts.compromiseStates.type == chartTypes.pie"
    class="col-sm-12 col-md-12 col-lg-6 col-xl-6 d-flex flex-column">

    <h6 class="d-block text-center text-dark font-weight-bold text-accent-primary">
        Total compromisos abiertos vs cerrados
    </h6>

    <app-spinner *ngIf="busy" class="d-block my-auto"></app-spinner>

    <p-chart *ngIf="!busy" type="pie" [data]="charts.compromiseStates.pie" [options]="optionsPieDefault">
    </p-chart>
</div>

</div>

<div class="row mx-0 align-items-center mb-4">

    

    <!--<Primeng-TurboTable-Start>-->
    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getData($event)" [value]="primengTableHelper.records"
            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
            [resizableColumns]="primengTableHelper.resizableColumns">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 150px" pSortableColumn="Code">
                        Código
                        <p-sortIcon field="Code"></p-sortIcon>
                    </th>
                    <th style="width: 100px" pSortableColumn="Type">
                        Tipo
                        <p-sortIcon field="Type"></p-sortIcon>
                    </th>
                    <th style="width: 450px" pSortableColumn="Name">
                        Nombre del compromiso
                        <p-sortIcon field="Name"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="Status.Value">
                        Estado
                        <p-sortIcon field="Status.Value"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="CreationTime">
                        Fecha de creación
                        <p-sortIcon field="CreationTime"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit">
                <tr>
                    <td style="width: 150px">
                        <span class="ui-column-title">
                            Código
                        </span>
                        {{record.code}}
                    </td>
                    <td style="width: 100px">
                        <span class="ui-column-title">
                            Código
                        </span>
                        {{
                        record.type == 1 ? 'PIP' :
                        record.type == 2 ? 'Actividad' :
                        'N/A'
                        }}
                    </td>
                    <td style="width: 450px">
                        <span class="ui-column-title">
                            Nombre del compromiso
                        </span> {{record.name}}
                    </td>
                    <td style="width: 150px">
                        <span class="ui-column-title">
                            Estado
                        </span> {{record?.status?.value}}
                    </td>
                    <td style="width: 150px">
                        <span class="ui-column-title">
                            Fecha de creación
                        </span>
                        {{record.creationTime | momentFormat:'L'}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
            {{'NoData' | localize}}
        </div>
        <div class="primeng-paging-container">
            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                (onPageChange)="getData($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

            </p-paginator>
            <span class="total-records-count">
                {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
            </span>
        </div>
    </div>
    <!--<Primeng-TurboTable-End>-->
</div>