<div [@routerTransition] class="reset-password-container">
    <div class="kt-login__form">
        <div class="kt-login__title mb-3">
            <h3 class="m-0">
                Restablecer la contraseña
            </h3>
        </div>

        <div class="kt-login__title mb-4">
            <h6 class="m-0">
                Por favor ingresa el código de verificación enviado al correo electrónico <span
                    class="font-weight-bold">
                    {{emailAddress}}
                </span> y la nueva
                contraseña para recuperar el acceso a su cuenta
            </h6>
        </div>

        <form *ngIf="loaded" #resetPasswordForm="ngForm" class="kt-form mt-0" method="post" autocomplete="off"
            novalidate (ngSubmit)="save()">

            <div class="form-group mb-4">
                <label class="mb-0" for="VerificationCode">
                    Código de verificación (*)
                </label>
                <input #codeInput="ngModel" id="VerificationCode" name="VerificationCode"
                    (keyup)="keyUpOnlyInteger($event)" (keypress)="keyPressOnlyNumbers($event)" [(ngModel)]="code"
                    autoFocus class="form-control m-input" type="text" placeholder="Ingrese el código de verificación"
                    minlength="6" maxlength="6" required />
                <validation-messages [formCtrl]="codeInput">
                </validation-messages>
            </div>

            <div class="form-group mb-4">
                <label class="mb-0" for="NewPassword">
                    Nueva Contraseña (*)
                </label>
                <input id="NewPassword" type="password" name="NewPassword" class="form-control" [(ngModel)]="password"
                    #NewPassword="ngModel" validateEqual="NewPasswordRepeat" reverse="true"
                    placeholder="Ingrese la nueva contraseña" [requireDigit]="passwordComplexitySettings.requireDigit"
                    [requireLowercase]="passwordComplexitySettings.requireLowercase"
                    [requireUppercase]="passwordComplexitySettings.requireUppercase"
                    [requireNonAlphanumeric]="passwordComplexitySettings.requireNonAlphanumeric"
                    [requiredLength]="passwordComplexitySettings.requiredLength" required>
            </div>

            <div [hidden]="resetPasswordForm.form.valid || resetPasswordForm.form.pristine">
                <ul class="help-block text-danger" *ngIf="NewPassword.errors">
                    <li [hidden]="!NewPassword.errors.requireDigit">
                        {{"PasswordComplexity_RequireDigit_Hint" | localize}}
                    </li>
                    <li [hidden]="!NewPassword.errors.requireLowercase">
                        {{"PasswordComplexity_RequireLowercase_Hint" | localize}}
                    </li>
                    <li [hidden]="!NewPassword.errors.requireUppercase">
                        {{"PasswordComplexity_RequireUppercase_Hint" | localize}}
                    </li>
                    <li [hidden]="!NewPassword.errors.requireNonAlphanumeric">
                        {{"PasswordComplexity_RequireNonAlphanumeric_Hint" | localize}}
                    </li>
                    <li [hidden]="!NewPassword.errors.requiredLength">
                        {{"PasswordComplexity_RequiredLength_Hint" |
                        localize:passwordComplexitySettings.requiredLength}}
                    </li>
                </ul>
            </div>

            <div class="form-group mb-4">
                <label class="mb-0" for="NewPasswordRepeat">
                    Repetir contraseña (*)
                </label>
                <input id="NewPasswordRepeat" type="password" name="NewPasswordRepeat" class="form-control"
                    [ngModel]="confirmPassword" #NewPasswordRepeat="ngModel" validateEqual="NewPassword"
                    placeholder="Repita la nueva contraseña" [requireDigit]="passwordComplexitySettings.requireDigit"
                    [requireLowercase]="passwordComplexitySettings.requireLowercase"
                    [requireUppercase]="passwordComplexitySettings.requireUppercase"
                    [requireNonAlphanumeric]="passwordComplexitySettings.requireNonAlphanumeric"
                    [requiredLength]="passwordComplexitySettings.requiredLength" reverse="false" required>
            </div>

            <div [hidden]="resetPasswordForm.form.valid || resetPasswordForm.form.pristine">
                <ul class="help-block text-danger" *ngIf="NewPasswordRepeat.errors">
                    <li [hidden]="!NewPasswordRepeat.errors.requireDigit">
                        {{"PasswordComplexity_RequireDigit_Hint" | localize}}
                    </li>
                    <li [hidden]="!NewPasswordRepeat.errors.requireLowercase">
                        {{"PasswordComplexity_RequireLowercase_Hint" | localize}}
                    </li>
                    <li [hidden]="!NewPasswordRepeat.errors.requireUppercase">
                        {{"PasswordComplexity_RequireUppercase_Hint" | localize}}
                    </li>
                    <li [hidden]="!NewPasswordRepeat.errors.requireNonAlphanumeric">
                        {{"PasswordComplexity_RequireNonAlphanumeric_Hint" | localize}}
                    </li>
                    <li [hidden]="!NewPasswordRepeat.errors.requiredLength">
                        {{"PasswordComplexity_RequiredLength_Hint" |
                        localize:passwordComplexitySettings.requiredLength}}
                    </li>
                    <li [hidden]="NewPasswordRepeat.valid">
                        {{"PasswordsDontMatch" | localize}}
                    </li>
                </ul>
            </div>

            <div class="kt-login__actions">
                <button type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary d-block w-100"
                    [disabled]="!resetPasswordForm.form.valid">
                    Restablecer
                </button>
            </div>

        </form>

    </div>
</div>