<div class="row mt-3">
    <div class="col-sm-8 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="SocialConflictCodeInput">
                Tipo
            </label>
            <div class="input-group">
                <select (change)="onChangeType($event)" [(ngModel)]="socialConflict.type" id="TypeSelect"
                    name="TypeSelect" class="form-control" type="text"
                    [disabled]="socialConflict.type || !hasPermission">
                    <option value="0">
                        Seleccione
                    </option>
                    <option value='1'>
                        PreCaso
                    </option>
                    <option value='2'>
                        Caso
                    </option>
                </select>

            </div>
        </div>
    </div>
</div>

<div class="row mt-3" *ngIf="socialConflict.type == 2 && !socialConflict.id ">
    <div class="col-12 mt-4 mb-4">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Caso de conflictividad vinculado al precaso
        </h5>

        <hr>
    </div>

    <div class="col-12">
        <div class="mb-2 form-group">
            <label for="SocialConflictInput">
                Caso
            </label>
            <div class="input-group input-group-right">
                <textarea id="SocialConflictInput" name="SocialConflictInput" class="form-control" type="text"
                    value="{{socialConflictTitle}}" disabled></textarea>
                <span class="input-group-text border-0" (click)="findSocialConflict()">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <div *ngIf="dialogSpace.socialConflict" class="row col-12 mt-2 text-right mx-0 px-0">
                <button (click)="removeSocialConflict()" class="mb-2 ml-auto btn btn-danger">
                    <i class="fa fa-minus"></i>
                    Eliminar caso
                </button>
            </div>
        </div>
    </div>

</div>

<div class="row mt-3">



    <ng-container *ngIf="!socialConflict.replaceCode">

        <div *ngIf="socialConflict.id" class="col-sm-8 col-md-6 col-lg-3 col-xl-3">
            <div class="mb-2 form-group">
                <label for="SocialConflictCode">
                    Código
                </label>
                <div class="input-group">
                    <input id="SocialConflictCode" value="{{socialConflict.code}}" class="form-control" type="text"
                        maxlength="20" disabled>
                </div>
            </div>
        </div>


        <div *ngIf="!socialConflict.id" class="col-sm-8 col-md-6 col-lg-3 col-xl-3">
            <div class="mb-2 form-group">
                <label for="SocialConflictCodeInput">
                    Código
                </label>
                <div class="input-group">
                    <input id="SocialConflictCodeInput" value="Generado automáticamente" class="form-control"
                        type="text" maxlength="20" disabled>
                </div>
            </div>
        </div>

    </ng-container>

    <ng-container *ngIf="socialConflict.replaceCode">

        <div class="col-sm-8 col-md-6 col-lg-3 col-xl-3">
            <div class="mb-2 form-group">
                <label for="SocialConflictCodeText">
                    Nuevo Código (Final)
                </label>
                <div class="input-group">
                    <input id="SocialConflictCodeText" value="{{finalCode}}" class="form-control" type="text"
                        maxlength="20" disabled>
                </div>
            </div>
        </div>

    </ng-container>

    <div class="col-12"></div>

    <div *ngIf="hasPermission" class="form-group col-sm-12 mb-2">
        <label for="ReplaceAutogeneratedCode" class="kt-checkbox">
            <input id="ReplaceAutogeneratedCode" type="checkbox" name="ReplaceAutogeneratedCode"
                [(ngModel)]="socialConflict.replaceCode">
            Asignar código manualmente
            <span></span>
        </label>
    </div>

    <div class="col-12"></div>

    <ng-container *ngIf="socialConflict.replaceCode">

        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="mb-2 form-group">
                <label for="SocialConflictCodeCount">
                    Código (Número)
                </label>
                <div class="input-group">
                    <input placeholder="El número de generación del código ejemplo: 5"
                        [(ngModel)]="socialConflict.replaceCount" id="SocialConflictCodeCount"
                        name="SocialConflictCodeCount" class="form-control" (keyup)="keyUpOnlyNumber($event)"
                        (keypress)="keyPressOnlyNumbers($event)" type="text" maxlength="11">
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="mb-2 form-group">
                <label for="SocialConflictCodeYear">
                    Código (Año)
                </label>
                <div class="input-group">
                    <input placeholder="El año de generación del código ejemplo: 2022"
                        [(ngModel)]="socialConflict.replaceYear" id="SocialConflictCodeYear"
                        name="SocialConflictCodeYear" class="form-control" (keyup)="keyUpOnlyNumber($event)"
                        (keypress)="keyPressOnlyNumbers($event)" type="text" maxlength="11">
                </div>
            </div>
        </div>

        <div class="col-12 my-3"></div>

    </ng-container>

    <div class="col-sm-12">
        <div class="mb-2 form-group">

            <label for="SocialConflictCaseName">
                Nombre del caso detallado
            </label>
            <br>
            <p-selectButton [disabled]="!verificationEnabled" [options]="options"
                [(ngModel)]="socialConflict.caseNameVerificationState" (onChange)="change('caseName')"></p-selectButton>
            <br>
            <div class="input-group">
                <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="6"
                    cdkAutosizeMaxRows="100" #socialConflictCaseName [(ngModel)]="socialConflict.caseName"
                    id="SocialConflictCaseName" name="SocialConflictCaseName" class="form-control" type="text" required
                    maxlength="1000" [disabled]="socialConflict.caseNameVerification || !hasPermission"></textarea>
                <span class="input-legth">
                    {{socialConflictCaseName.value ? socialConflictCaseName.value.length :
                    0}}/{{socialConflictCaseName.maxLength}}
                </span>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="mb-2 form-group">
            <label for="SocialConflictDescription">
                Nombre del caso resumido
            </label>
            <br>
            <p-selectButton [disabled]="!verificationEnabled" [options]="options"
                [(ngModel)]="socialConflict.descriptionVerificationState" (onChange)="change('description')">
            </p-selectButton>
            <br>
            <div class="input-group">
                <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
                    cdkAutosizeMaxRows="100" #socialConflictDescriptionInput id="SocialConflictDescription"
                    [(ngModel)]="socialConflict.description" name="SocialConflictDescription" class="form-control"
                    maxlength="500" [disabled]="socialConflict.descriptionVerification || !hasPermission"></textarea>
                <span class="input-legth">
                    {{socialConflictDescriptionInput.value ?
                    socialConflictDescriptionInput.value.length :
                    0}}/{{socialConflictDescriptionInput.maxLength}}
                </span>
            </div>
        </div>
    </div>

    <div class="col-12 mt-4 mb-4">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Ámbito geográfico del Caso
        </h5>

        <hr>
    </div>
</div>

<div class="row" *ngIf="hasPermission">

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="mb-2 form-group">
            <label for="TerritorialUnitSelect">
                Unidad territorial
            </label>
            <div class="input-group">
                <select (change)="onTerritorialUnitChange($event)" [(ngModel)]="selectedTerritorialUnit"
                    id="TerritorialUnitSelect" name="TerritorialUnitSelect" class="form-control" type="text">
                    <option *ngIf="selectedTerritorialUnit == -1" value="-1">
                        Seleccione
                    </option>
                    <option *ngFor="let territorialUnit of territorialUnits" [value]="territorialUnit.id">
                        {{territorialUnit.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-12"></div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="DepartmentUnitSelect">
                Departamento
            </label>
            <div class="input-group">
                <select (change)="onDepartmentChange($event)" [(ngModel)]="selectedDepartmentId"
                    id="DepartmentUnitSelect" name="DepartmentUnitSelect" class="form-control" type="text">
                    <option value="-1">
                        Seleccione
                    </option>
                    <option *ngFor="let department of selectedDepartments" [value]="department.id">
                        {{department.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="ProvinceUnitSelect">
                Provincia
            </label>
            <div class="input-group">
                <select (change)="onProvinceChange($event)" [(ngModel)]="selectedProvinceId" id="ProvinceUnitSelect"
                    name="ProvinceUnitSelect" class="form-control" type="text">
                    <option value="-1">
                        Seleccione
                    </option>
                    <option *ngFor="let province of selectedProvinces" [value]="province.id">
                        {{province.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="DisctrictUnitSelect">
                Distrito
            </label>
            <div class="input-group">
                <select (change)="onDistrictChange($event)" [(ngModel)]="selectedDistrictId" id="DisctrictUnitSelect"
                    name="DisctrictUnitSelect" class="form-control" type="text">
                    <option value="-1">
                        Seleccione
                    </option>
                    <option *ngFor="let district of selectedDistricts" [value]="district.id">
                        {{district.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="RegionSelect">
                Centro Poblado
            </label>
            <div class="input-group">
                <select [(ngModel)]="selectedRegionId" id="RegionSelect" name="RegionSelect" class="form-control"
                    type="text">
                    <option value="-1">
                        Seleccione
                    </option>
                    <option *ngFor="let region of selectedRegions" [value]="region.id">
                        {{region.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="UbicationInputText">
                Localidad - Comunidad - Otros
            </label>
            <div class="input-group">
                <input #ubicationInput [(ngModel)]="selectedUbicationText" id="UbicationInputText"
                    name="UbicationInputText" class="form-control text-uppercase" type="text" required maxlength="255">
                <span class="input-legth">
                    {{ubicationInput?.value ? ubicationInput?.value?.length :
                    0}}/{{ubicationInput.maxLength}}
                </span>
            </div>
        </div>
    </div>

    <div class="row col-sm-12 col-md-6 col-lg-3 col-xl-3 m-0">
        <button type="button" (click)="addTerritorialUnit()" class="mb-2 mt-auto btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>

</div>

<div class="row align-items-center mt-4 mx-0">
    <!--<Primeng-TurboTable-Start>-->
    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
        <p-table #dataTable sortMode="multiple" [value]="socialConflict.locations"
            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
            [resizableColumns]="primengTableHelper.resizableColumns">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngIf="hasPermission" style="width: 100px">
                    </th>
                    <th style="width: 200px">
                        Unidad territorial
                    </th>
                    <th style="width: 280px;text-align: center;">
                        Departamento / Provincia / Distrito
                    </th>
                    <th style="width: 150px">
                        Centro Poblado
                    </th>
                    <th style="width: 200px">
                        Localidad-Comunidad
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                <tr [hidden]="record.isHidden">
                    <td *ngIf="hasPermission" style="width: 100px">
                        <button *ngIf="!record.remove" type="button" pButton icon="pi pi-trash" class="ui-button-danger"
                            data-toggle="tooltip" title="Eliminar la localización" data-placement="top"
                            (click)="removeItemFromLocation(record, rowIndex)"></button>
                        <button *ngIf="record.remove" type="button" pButton icon="pi pi-undo" class="ui-button-warning"
                            data-toggle="tooltip" title="Deshacer la eliminación de la localización"
                            data-placement="top" (click)="cancelRemoveLocation(record)"></button>
                    </td>
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Unidad territorial
                        </span> {{record.territorialUnit ? record.territorialUnit.name : 'N/A'}}
                    </td>
                    <td style="width: 280px; text-align: center;">
                         {{record.department ? record.department.name : 'N/A'}} <br>
                        {{record.province ? record.province.name : 'N/A'}}<br>
                        {{record.district ? record.district.name : 'N/A'}}
                    </td>
                    <td style="width: 150px">
                        <span class="ui-column-title">
                            Centro poblado
                        </span> {{record.region ? record.region.name : 'N/A'}}
                    </td>
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Localidad - Comunidad
                        </span> {{record.ubication}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="socialConflict.locations.length == 0">
            Aún no agregó ninguna unidad territorial
        </div>
        <div class="primeng-paging-container">
            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                (onPageChange)="getData($event)" [totalRecords]="socialConflict.locations.length"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
            </p-paginator>
            <span class="total-records-count">
                {{'TotalRecordsCount' | localize:socialConflict.locations.length}}
            </span>
        </div>
    </div>
    <!--<Primeng-TurboTable-End>-->
</div>

<div class="row">

    <div class="col-12 mt-2 mb-4">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Cobertura geográfica
        </h5>

        <hr>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="GeophraphicTypeSelect">
                Cobertura geográfica
            </label>
            <div class="input-group">
                <select disabled [(ngModel)]="socialConflict.geographicType" id="GeophraphicTypeSelect"
                    name="GeophraphicTypeSelect" class="form-control" type="text">
                    <option *ngIf="socialConflict.geographicType == 0" value="0">
                        Seleccione
                    </option>
                    <option *ngFor="let geographic of geograficTypes" [value]="geographic.value">
                        {{geographic.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="SocialConflictLatitude">
                Latitud
            </label>
            <div class="input-group">
                <input [(ngModel)]="socialConflict.latitude" id="SocialConflictLatitude" name="SocialConflictLatitude"
                    class="form-control" (keyup)="keyUpDecimal($event)" (keypress)="keyUpDecimal($event)" type="text"
                    maxlength="14" [disabled]="!hasPermission">
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="SocialConflictLongitude">
                Longitud
            </label>
            <div class="input-group">
                <input [(ngModel)]="socialConflict.longitude" id="SocialConflictLongitude"
                    name="SocialConflictLongitude" class="form-control" (keyup)="keyUpDecimal($event)"
                    (keypress)="keyUpDecimal($event)" type="text" maxlength="14" [disabled]="!hasPermission">
            </div>
        </div>
    </div>

    <div class="col-12 mt-2 mb-4">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Publicación
        </h5>

        <hr>
    </div>

    <div class="form-group col-sm-12 mb-2">
        <label for="SocialConflictPublished" class="kt-checkbox">
            <input id="SocialConflictPublished" type="checkbox" name="SocialConflictPublished"
                [(ngModel)]="socialConflict.published" [disabled]="!hasPermission">
            Publicar caso
            <span></span>
        </label>
    </div>

    <div class="col-12 mt-4 mb-4">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Funcionarios
        </h5>

        <hr>
    </div>

    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-4">
        <label for="PersonCoordinator">
            Coordinador de la UT
        </label>
        <select class="form-control" id="PersonCoordinator" name="PersonCoordinator"
            [(ngModel)]="socialConflict.coordinator.id" [disabled]="!hasPermission">
            <option value="-1">
                Seleccione
            </option>
            <option *ngFor="let coordinator of coordinators" [value]="coordinator.id">
                {{coordinator.name}} {{
                coordinator.type == personTypes.coordinator ? '(COORDINADOR)' :
                coordinator.type == personTypes.analyst ? '(ANALISTA)' : '(GESTOR)'
                }}
            </option>
        </select>
    </div>

    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-4">
        <label for="PersonManager">
            Responsable del caso
        </label>
        <select class="form-control" id="PersonManager" name="PersonManager" [(ngModel)]="socialConflict.manager.id"
            [disabled]="!hasPermission">
            <option value="-1">
                Seleccione
            </option>
            <option *ngFor="let manager of managers" [value]="manager.id">
                {{manager.name}} {{
                manager.type == personTypes.coordinator ? '(COORDINADOR)' :
                manager.type == personTypes.analyst ? '(ANALISTA)' : '(GESTOR)'
                }}
            </option>
        </select>
    </div>

    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-4">
        <label for="PersonAnalyst">
            Responsable de la SSPI (Analista)
        </label>
        <select class="form-control" id="PersonAnalyst" name="PersonAnalyst" [(ngModel)]="socialConflict.analyst.id"
            [disabled]="!hasPermission">
            <option value="-1">
                Seleccione
            </option>
            <option *ngFor="let analyst of analysts" [value]="analyst.id">
                {{analyst.name}} {{
                analyst.type == personTypes.coordinator ? '(COORDINADOR)' :
                analyst.type == personTypes.analyst ? '(ANALISTA)' : '(GESTOR)'
                }}
            </option>
        </select>
    </div>

    <div class="col-12 mt-4 mb-4">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Espacio de diálogo
        </h5>

        <hr>
    </div>
</div>


<div class="row align-items-center mt-4 mx-0">
    <!--<Primeng-TurboTable-Start>-->
    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
        <p-table #dataTable sortMode="multiple" [value]="socialConflict.dialogSpaces"
            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
            [resizableColumns]="primengTableHelper.resizableColumns">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 200px">
                        Código
                    </th>
                    <th style="width: 200px">
                        Nombre
                    </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                <tr [hidden]="record.isHidden">
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Código
                        </span> {{record.code}}
                    </td>
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Nombre
                        </span> {{record.caseName}}
                    </td>
                   
                </tr>
            </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="socialConflict.dialogSpaces.length == 0">
            Aún no tiene un espacio de dialogo asignado
        </div>
        <div class="primeng-paging-container">
            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                (onPageChange)="getData($event)" [totalRecords]="socialConflict.dialogSpaces.length"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
            </p-paginator>
            <span class="total-records-count">
                {{'TotalRecordsCount' | localize:socialConflict.dialogSpaces.length}}
            </span>
        </div>
    </div>
    <!--<Primeng-TurboTable-End>-->
</div>


<div class="row">

<!--     <div class="col-12 mb-2">
        <div class="mb-2 form-group">
            <label for="DialogSpaceInputText">
                Espacio de diálogo
            </label>
            <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="100" #socialSpaceInput [(ngModel)]="socialConflict.dialog" id="DialogSpaceInputText"
                name="DialogSpaceInputText" class="form-control" type="text" required maxlength="1000"
                [disabled]="!hasPermission"></textarea>
            <span class="input-legth">
                {{socialSpaceInput?.value ? socialSpaceInput.value.length :
                0}}/{{socialSpaceInput.maxLength}}
            </span>
        </div>
    </div> -->

    <div class="col-12 mt-2 mb-4">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Tipologías
        </h5>

        <hr>
    </div>

    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-4">
        <label for="GeneralTypology">
            Tipología del conflicto
        </label>
        <select (change)="onGeneralTypologyChange($event)" class="form-control" id="GeneralTypology"
            name="GeneralTypology" [(ngModel)]="socialConflict.typology.id" [disabled]="!hasPermission">
            <option value="-1">
                Seleccione
            </option>
            <option *ngFor="let typology of selectedTypologies" [value]="typology.id">
                {{typology.name}}
            </option>
        </select>
    </div>

    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-4">
        <label for="DetailTypologhy">
            Tipología detallada
        </label>
        <select [disabled]="socialConflict.typology.id == -1" class="form-control" id="DetailTypologhy"
            name="DetailTypologhy" [(ngModel)]="socialConflict.subTypology.id" [disabled]="!hasPermission">
            <option value="-1">
                Seleccione
            </option>
            <option *ngFor="let subTypology of selectedSubTypologies" [value]="subTypology.id">
                {{subTypology.name}}
            </option>
        </select>
    </div>

    <div class="col-12 mt-2 mb-4">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Entidades responsables
        </h5>

        <hr>
    </div>

    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-4">
        <label for="GeneralSector">
            Sector responsable del ejecutivo
        </label>
        <select class="form-control" id="GeneralSector" name="GeneralSector" [(ngModel)]="selectedSectorId"
            [disabled]="!hasPermission">
            <option value="-1">
                Seleccione
            </option>
            <option *ngFor="let sector of selectedSectors" [value]="sector.id">
                {{sector.name}}
            </option>
        </select>
    </div>



    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-4">
        <label for="GovernmentLevel">
            Nivel de gobierno
        </label>
        <select class="form-control" id="GovernmentLevel" name="GovernmentLevel" [(ngModel)]="selectedGovernmentLevel"
            [disabled]="!hasPermission">
            <option *ngFor="let governmentLevel of governmentLevelTypes" [value]="governmentLevel.value">
                {{governmentLevel.name}}
            </option>
        </select>
    </div>


    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-4">
        <label for="RoleSector">
            Rol del Sector
        </label>
        <select class="form-control" id="RoleSector" name="RoleSector" [(ngModel)]="selectedSectorRoleId"
            [disabled]="!hasPermission">
            <option value="-1">
                Seleccione
            </option>
            <option *ngFor="let rol of roles" [value]="rol.id">
                {{rol.name}}
            </option>
        </select>
    </div>


    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-4">
        <label>
            &nbsp;
        </label>
        <button type="button" (click)="addSectorResponsible()" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>
</div>


<div class="row align-items-center mt-4 mx-0">
    <!--<Primeng-TurboTable-Start>-->
    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
        <p-table #dataTable sortMode="multiple" [value]="socialConflict.sectorRoles"
            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
            [resizableColumns]="primengTableHelper.resizableColumns">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 200px">
                        Sector Responsable del ejecutivo
                    </th>
                    <th style="width: 200px">
                        Nivel de gobierno
                    </th>
                    <th style="width: 200px">
                        Rol del Sector
                    </th>

                    <th *ngIf="hasPermission" style="width: 130px">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                <tr [hidden]="record.isHidden">
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Sector Responsable del ejecutivo
                        </span> {{record.sector ? record.sector.name : 'N/A'}}
                    </td>
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Nivel de gobierno
                        </span> {{record.governmentNameLevel}}
                    </td>
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Rol del Sector
                        </span> {{record.sectorRole ? record.sectorRole.name : 'N/A'}}
                    </td>

                    <td *ngIf="hasPermission" style="width: 130px">
                        <button *ngIf="!record.remove" type="button" pButton icon="pi pi-trash" class="ui-button-danger"
                            data-toggle="tooltip" title="Eliminar el sector resposanble ejecutivo" data-placement="top"
                            (click)="removeItemFromSectorResponsible(record, rowIndex)"></button>
                        <button *ngIf="record.remove" type="button" pButton icon="pi pi-undo" class="ui-button-warning"
                            data-toggle="tooltip" title="Deshacer la eliminación del sector resposanble ejecutivo"
                            data-placement="top" (click)="cancelRemoveSectorResponsible(record)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="socialConflict.sectorRoles.length == 0">
            Aún no agregó ningun sector responsable
        </div>
        <div class="primeng-paging-container">
            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                (onPageChange)="getData($event)" [totalRecords]="socialConflict.sectorRoles.length"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
            </p-paginator>
            <span class="total-records-count">
                {{'TotalRecordsCount' | localize:socialConflict.sectorRoles.length}}
            </span>
        </div>
    </div>
    <!--<Primeng-TurboTable-End>-->
</div>

<div class="row">





    <div class="col-12 mt-2 mb-4">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Problemática
        </h5>

        <hr>
    </div>

    <div class="col-12">
        <div class="mb-2 form-group">
            <label for="ProblemDescriptionInputText">
                Problemática
            </label>
            <br>
            <p-selectButton [disabled]="!verificationEnabled" [options]="options"
                [(ngModel)]="socialConflict.problemVerificationState" (onChange)="change('problem')"></p-selectButton>
            <br>
            <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="100" #problemDescriptionInput [(ngModel)]="socialConflict.problem"
                id="ProblemDescriptionInputText" name="ProblemDescriptionInputText" class="form-control" type="text"
                required maxlength="5000" [disabled]="socialConflict.problemVerification || !hasPermission"></textarea>
            <span class="input-legth">
                {{problemDescriptionInput.value ? problemDescriptionInput.value?.length :
                0}}/{{problemDescriptionInput.maxLength}}
            </span>
        </div>
    </div>

</div>

<div class="row" *ngIf="socialConflict?.creatorUser">

    <div class="col-12 mt-4 mb-2">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Información de registro
        </h5>

        <hr>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
        <div class="mb-2 form-group">
            <label for="UserRegisterInput">
                Registrado por
            </label>
            <div class="input-group">
                <input class="form-control" id="UserRegisterInput" value="{{getUserName(socialConflict.creatorUser)}}"
                    type="text" readonly>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="UserRegisterDateInput">
                Fecha de registro
            </label>
            <div class="input-group">
                <input class="form-control" id="UserRegisterDateInput"
                    value="{{socialConflict.creationTime | momentFormat: 'L'}}" type="text" readonly>
                <span class="input-group-text">
                    <i class="far fa-calendar-alt"></i>
                </span>
            </div>
        </div>
    </div>

    <ng-container *ngIf="socialConflict?.editUser">

        <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
            <div class="mb-2 form-group">
                <label for="UserUpdateInput">
                    Última actualización
                </label>
                <div class="input-group">
                    <input class="form-control" id="UserUpdateInput" value="{{getUserName(socialConflict.editUser)}}"
                        type="text" readonly>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
            <div class="mb-2 form-group">
                <label for="UserUpdateDateInput">
                    Fecha de actualización
                </label>
                <div class="input-group">
                    <input id="UserUpdateDateInput" class="form-control"
                        value="{{socialConflict.lastModificationTime | momentFormat: 'L'}}" type="text" readonly>
                    <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                    </span>
                </div>
            </div>
        </div>

    </ng-container>

</div>