<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #userForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="user.id">Editar usuario</span>
                        <span *ngIf="!user.id">Crear usuario</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <tabset>
                        <tab heading="{{'UserInformations' | localize}}">
                            <div class="row">

                                <div class="form-group col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                    <label for="UserDocument">
                                        DNI
                                    </label>
                                    <div class="input-group">
                                        <input #userDocumentInput="ngModel" id="UserDocument" name="UserDocument" class="form-control" type="text" [(ngModel)]="user.document" (keyup)="keyUpOnlyInteger($event)" (keypress)="keyPressOnlyNumbers($event)" minlength="8" maxlength="8">
                                        <span class="input-group-btn">
                                            <button aria-label="Buscar" class="btn btn-primary" (click)="GetDNIDocument()" type="button" >
                                            <i class="flaticon-search-1"></i>
                                           </button>
                                        </span>
                                    </div>
                                    <validation-messages [formCtrl]="userDocumentInput"></validation-messages>
                                </div>

                                <div class="form-group col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                                    <label for="Name">Nombres (*)</label>
                                    <input id="Name" #nameInput="ngModel" class="form-control text-uppercase" type="text" name="Name" [(ngModel)]="user.name" required maxlength="64">
                                    <validation-messages [formCtrl]="nameInput"></validation-messages>
                                </div>

                                <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    <label for="Surname">Apellido Paterno (*)</label>
                                    <input id="Surname" #surnameInput="ngModel" type="text" name="Surname" class="form-control text-uppercase" [(ngModel)]="user.surname" required maxlength="64">
                                    <validation-messages [formCtrl]="surnameInput"></validation-messages>
                                </div>

                                <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    <label for="Surname2">Apellido Materno (*)</label>
                                    <input id="Surname2" #surname2Input="ngModel" type="text" name="Surname2" class="form-control text-uppercase" [(ngModel)]="user.surname2" required maxlength="64">
                                    <validation-messages [formCtrl]="surname2Input"></validation-messages>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label for="EmailAddress">{{"EmailAddress" | localize}} (*)</label>
                                    <input id="EmailAddress" #emailAddressInput="ngModel" type="email" name="EmailAddress" class="form-control" [(ngModel)]="user.emailAddress" required maxlength="256" email />
                                    <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label for="PhoneNumber">{{"PhoneNumber" | localize}}</label>
                                    <input id="PhoneNumber" type="text" name="PhoneNumber" class="form-control" [(ngModel)]="user.phoneNumber" maxlength="32">
                                </div>

                                <div class="form-group col-sm-12">
                                    <label for="UserAlertResponsible">
                                        Subsecretaría (*)
                                    </label>
                                    <select class="form-control" id="UserAlertResponsible" name="UserAlertResponsible" [(ngModel)]="user.alertResponsible.id">
                                        <option value="-1">
                                            Seleccione
                                        </option>
                                        <option *ngFor="let responsible of responsibles" [value]="responsible.id">
                                            {{responsible.name}}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group col-sm-12">
                                    <label for="UserState">
                                        Tipo (*)
                                    </label>
                                    <select class="form-control" id="UserState" name="UserState" [(ngModel)]="user.type">
                                        <option *ngFor="let type of userTypes" [value]="type.value">
                                            {{type.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label for="Institution">
                                        Institucion
                                    </label>
                                    <div class="input-group">
                                        <select [(ngModel)]="user.institution.id" (change)="onSectorsChange($event)" id="Institution" name="institucion" class="form-control">
                                            <option  value="-1">
                                                Seleccione
                                            </option>
                                            <option *ngFor="let insti of institutions"  [value]="insti.id">
                                               {{insti.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12 mb-2" [hidden]="user.person || user.type == types.adminitrative">
                                    <label for="AutoGeneratePerson" class="kt-checkbox">
                                        <input id="AutoGeneratePerson" type="checkbox" name="AutoGeneratePerson"
                                            [(ngModel)]="user.generatePerson">
                                        Generar {{userTypeSelected}} automáticamente
                                        <span></span>
                                    </label>
                                </div>

                                <div *ngIf="user.type != types.adminitrative && !user.generatePerson" class="form-group col-sm-12">
                                    <label for="UserPerson">
                                        {{user.person ? userTypeSelected : userTypeSearch}}
                                    </label>
                                    <div class="input-group input-group-right">
                                        <input id="UserPerson" name="UserPerson" class="form-control" type="text" value="{{user.person ? user.person.name : 'Presione el botón de búsqueda para desplegar un asistente'}}" disabled>
                                        <span class="input-group-text border-0" (click)="findPerson.emit()">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-12">
                                    <div class="right">
                                        <label for="Password">{{"Password" | localize}}</label>
                                        <input id="Password" type="password" name="Password" #Password="ngModel" id="Password" class="form-control" [(ngModel)]="user.blankPassword" [required]="!user.id" maxlength="32" [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                            [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength" validateEqual="PasswordRepeat"
                                            reverse="true" autocomplete="new-password">
                                    </div>
                                </div>
                                <div class="col-sm-12" [hidden]="userForm.form.valid || userForm.form.pristine">
                                    <ul class="help-block text-danger" *ngIf="userForm.controls['Password'] && userForm.controls['Password'].errors">
                                        <li [hidden]="!userForm.controls['Password'].errors.requireDigit">
                                            {{"PasswordComplexity_RequireDigit_Hint" | localize}}</li>
                                        <li [hidden]="!userForm.controls['Password'].errors.requireLowercase">
                                            {{"PasswordComplexity_RequireLowercase_Hint" | localize}}</li>
                                        <li [hidden]="!userForm.controls['Password'].errors.requireUppercase">
                                            {{"PasswordComplexity_RequireUppercase_Hint" | localize}}</li>
                                        <li [hidden]="!userForm.controls['Password'].errors.requireNonAlphanumeric">
                                            {{"PasswordComplexity_RequireNonAlphanumeric_Hint" | localize}}</li>
                                        <li [hidden]="!userForm.controls['Password'].errors.requiredLength">
                                            {{"PasswordComplexity_RequiredLength_Hint" | localize:passwordComplexitySetting.requiredLength}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group col-sm-12">
                                    <div class="right">
                                        <label for="PasswordRepeat">{{"PasswordRepeat" | localize}}</label>
                                        <input id="PasswordRepeat" type="password" name="PasswordRepeat" #PasswordRepeat="ngModel" class="form-control" [(ngModel)]="userPasswordRepeat" [required]="!user.id" maxlength="32" [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                            [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength" validateEqual="Password"
                                            reverse="false" autocomplete="new-password">
                                    </div>
                                </div>
                                <div class="col-sm-12" [hidden]="userForm.form.valid || userForm.form.pristine">
                                    <ul class="help-block text-danger" *ngIf="userForm.controls['PasswordRepeat'] && userForm.controls['PasswordRepeat'].errors">
                                        <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireDigit">
                                            {{"PasswordComplexity_RequireDigit_Hint" | localize}}</li>
                                        <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireLowercase">
                                            {{"PasswordComplexity_RequireLowercase_Hint" | localize}}</li>
                                        <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireUppercase">
                                            {{"PasswordComplexity_RequireUppercase_Hint" | localize}}</li>
                                        <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireNonAlphanumeric">
                                            {{"PasswordComplexity_RequireNonAlphanumeric_Hint" | localize}}
                                        </li>
                                        <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requiredLength">
                                            {{"PasswordComplexity_RequiredLength_Hint" | localize:passwordComplexitySetting.requiredLength}}
                                        </li>
                                        <li [hidden]="userForm.controls['PasswordRepeat'].valid">
                                            {{"PasswordsDontMatch" | localize}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </tab>
                        <tab heading="{{'Roles' | localize}}">
                            <ng-template tabHeading>
                                <span class="kt-badge kt-badge--success kt-badge--inline">{{getAssignedRoleCount()}}</span>
                            </ng-template>
                            <div class="kt-checkbox-list">
                                <label attr.for="EditUser_{{role.roleName}}" class="kt-checkbox" *ngFor="let role of roles">
                                    <input id="EditUser_{{role.roleName}}" type="checkbox" name="{{role.roleName}}"
                                        [(ngModel)]="role.isAssigned" [disabled]="role.inheritedFromOrganizationUnit">
                                    {{role.roleDisplayName}} <small
                                        *ngIf="role.inheritedFromOrganizationUnit">({{'RoleIsInheritedFromOrganizationUnit'
                                        | localize}})</small>
                                    <span></span>
                                </label>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{"Cancel" | localize}}
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{"Save" | localize}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>