<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #userForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="item.id">
                            Editar gestor: {{item.name}}
                        </span>
                        <span *ngIf="!item.id">
                            Crear gestor
                        </span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Cerrar" [disabled]="saving">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div *ngIf="active" class="modal-body row">

                    <div class="form-group col-sm-12">
                        <label for="ManagerDocument">
                            DNI
                        </label>
                        <input #managerDocumentInput="ngModel" id="ManagerDocument" name="ManagerDocument" class="form-control" type="text" [(ngModel)]="item.document" (keyup)="keyUpOnlyInteger($event)" (keypress)="keyPressOnlyNumbers($event)" minlength="8" maxlength="8">
                        <validation-messages [formCtrl]="managerDocumentInput"></validation-messages>
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="ManagerName">
                            Nombres (*)
                        </label>
                        <input id="ManagerName" #nameInput="ngModel" class="form-control text-uppercase" type="text" name="ManagerName" [(ngModel)]="item.names" required maxlength="255">
                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                    </div>

                    <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="ManagerSurname">
                            Apellido paterno (*)
                        </label>
                        <input id="ManagerSurname" #managerSurnameInput="ngModel" class="form-control text-uppercase" type="text" name="ManagerSurname" [(ngModel)]="item.surname" required maxlength="255">
                        <validation-messages [formCtrl]="managerSurnameInput"></validation-messages>
                    </div>

                    <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="ManagerSurname2">
                            Apellido materno
                        </label>
                        <input id="ManagerSurname2" #managerSurname2Input="ngModel" class="form-control text-uppercase" type="text" name="ManagerSurname2" [(ngModel)]="item.surname2" maxlength="255">
                        <validation-messages [formCtrl]="managerSurname2Input"></validation-messages>
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="ManagerEmailAddress">
                            Correo electrónico
                        </label>
                        <input id="ManagerEmailAddress" name="ManagerEmailAddress" #emailAddressInput="ngModel" type="email" class="form-control" [(ngModel)]="item.emailAddress" maxlength="256" email />
                        <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                    </div>

                    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="ManagerState">
                            Estado (*)
                        </label>
                        <select class="form-control" id="ManagerState" name="ManagerState" [(ngModel)]="state">
                            <option value="false">
                                Inactivo
                            </option>
                            <option value="true">
                                Activo
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="ManagerTerritorialUnit">
                            Unidad territorial (*)
                        </label>
                        <select class="form-control" id="ManagerTerritorialUnit" name="ManagerTerritorialUnit" [(ngModel)]="item.territorialUnit.id">
                            <option value="-1">
                                Seleccione
                            </option>
                            <option *ngFor="let territorialUnit of territorialUnits" [value]="territorialUnit.id">
                                {{territorialUnit.name}}
                            </option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold" (click)="close()">
                        Cancelar
                    </button>
                    <button *ngIf="!_verificationEnabled" type="submit" class="btn btn-primary font-weight-bold" [disabled]="!userForm.form.valid" [buttonBusy]="saving" busyText="Guardar..." (click)="save()">
                        <i class="fa fa-save"></i>
                        <span>
                            Guardar
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>