<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <button type="button" class="btn btn-light back-button mt-2" (click)="backButtonPressed()">
                        {{backButtonText}}
                    </button>
                    <h3 class="kt-subheader__title">
                        {{id ? 'Editar Pedido' : 'Registrar Pedido'}}
                    </h3>
                </div>

                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <button (click)="save()" *ngIf="('Pages.Application.Order.Create' | permission) && id" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                        <button (click)="save()" *ngIf="('Pages.Application.Order.Edit' | permission) && !id && !_verificationEnabled" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                    </div>
                </div>

            </div>
        </div>


        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <p-tabView [(activeIndex)]="activeIndex">

                        <p-tabPanel header="Aspectos generales">
                            <div class="tab-container">

                                <h5 class="d-block text-left text-dark font-weight-bold">
                                    Información del pedido
                                </h5>

                                <hr>

                                <div class="row">

                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                        <div class="mb-2 form-group">
                                            <label for="RecordCode">
                                                Caso conflictivo
                                            </label>
                                            <div class="input-group input-group-right">
                                                <input class="form-control" type="text" value="{{order.socialConflict ? order.socialConflict.code : 'Presione el botón de búsqueda para seleccionar un caso conflictivo'}}" disabled>
                                                <span class="input-group-text" (click)="findSocialConflictModal.show()">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                        <div class="mb-2 form-group mr-2">
                                            <label for="OrderDateInput">
                                                Fecha del Pedido
                                            </label>
                                            <div class="input-group fix-border">
                                                <input name="OrderDateInput" type="text" class="form-control" bsDatepicker datePickerMomentModifier [bsConfig]="{ adaptivePosition: true, customTodayClass: 'datepicker-today' }" [(ngModel)]="orderDate" [disabled]="order.id">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                        <div class="mb-2 form-group">
                                            <label for="OrderCode">
                                                Código de Pedido {{order.id ? '' : '(generado automáticamente)'}}
                                            </label>
                                            <div class="input-group">
                                                <input name="OrderCode" class="form-control" name="CompromiseCode" type="text" value="{{order.id ? order.code : ''}}" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-2 form-group">
                                            <label for="OrderSocialConflictName">
                                                Denominación del caso
                                            </label>
                                            <div class="input-group">
                                                <textarea cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="100" #orderSocialConflictName name="OrderSocialConflictName" class="form-control" value="{{order.socialConflict ? order.socialConflict.caseName : ''}}" disabled></textarea>
                                                <span class="input-legth">
                                                    {{orderSocialConflictName.value ?
                                                    orderSocialConflictName.value.length :
                                                    0}}/{{orderSocialConflictName.maxLength}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="mb-2 form-group">
                                            <label for="OrderDocument">
                                                Nº Documento (*)
                                            </label>
                                            <div class="input-group">
                                                <input #orderDocumentInput name="OrderDocument" class="form-control" type="text" [(ngModel)]="order.document" maxlength="100">
                                                <span class="input-legth">
                                                    {{orderDocumentInput.value ? orderDocumentInput.value.length :
                                                    0}}/{{orderDocumentInput.maxLength}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                        <div class="mb-2 form-group">
                                            <label for="OrderTypeSelect">
                                                Tipo (*)
                                            </label>
                                            <div class="input-group">
                                                <select name="OrderTypeSelect" class="form-control" type="text" [(ngModel)]="order.type">
                                                    <option value="0">
                                                        Seleccione
                                                    </option>
                                                    <option value="1">
                                                        PIP
                                                    </option>
                                                    <option value="2">
                                                        Actividad
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-2 form-group">
                                            <label for="OrderName">
                                                Denominación del proyecto/actividad (*)
                                            </label>
                                            <div class="input-group">
                                                <input #orderNameInput class="form-control" name="OrderName" type="text" maxlength="100" [(ngModel)]="order.name">
                                                <span class="input-legth">
                                                    {{orderNameInput.value ? orderNameInput.value.length :
                                                    0}}/{{orderNameInput.maxLength}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <h5 class="d-block text-left text-dark font-weight-bold mt-4">
                                    Unidad territorial y responsable
                                </h5>

                                <hr>

                                <div class="row">

                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                        <div class="mb-2 form-group">
                                            <label for="TerritorialUnitSelect">
                                                Unidad territorial
                                            </label>
                                            <div class="input-group">
                                                <select (change)="onTerritorialUnitChange($event)" [(ngModel)]="order.territorialUnit.id" name="TerritorialUnitSelect" class="form-control" type="text">
                                                    <option *ngIf="order.territorialUnit.id == -1" value="-1">
                                                        Seleccione
                                                    </option>
                                                    <option *ngFor="let territorialUnit of territorialUnits"
                                                        [value]="territorialUnit.id">
                                                        {{territorialUnit.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12"></div>

                                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                        <div class="mb-2 form-group">
                                            <label for="DepartmentSelect">
                                                Departamento
                                            </label>
                                            <div class="input-group">
                                                <select [disabled]="order.territorialUnit.id == -1" (change)="onDepartmentChange($event)" [(ngModel)]="order.department.id" name="DepartmentSelect" class="form-control" type="text">
                                                    <option value="-1">
                                                        Seleccione
                                                    </option>
                                                    <option *ngFor="let department of selectedDepartments"
                                                        [value]="department.id">
                                                        {{department.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                        <div class="mb-2 form-group">
                                            <label for="ProvinceSelect">
                                                Provincia
                                            </label>
                                            <div class="input-group">
                                                <select [disabled]="order.department.id == -1" (change)="onProvinceChange($event)" [(ngModel)]="order.province.id" name="ProvinceSelect" class="form-control" type="text">
                                                    <option value="-1">
                                                        Seleccione
                                                    </option>
                                                    <option *ngFor="let province of selectedProvinces"
                                                        [value]="province.id">
                                                        {{province.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                                        <div class="mb-2 form-group">
                                            <label for="DistrictSelect">
                                                Distrito
                                            </label>
                                            <div class="input-group">
                                                <select [disabled]="order.province.id == -1" [(ngModel)]="order.district.id" name="DistrictSelect" class="form-control" type="text">
                                                    <option value="-1">
                                                        Seleccione
                                                    </option>
                                                    <option *ngFor="let district of selectedDistricts"
                                                        [value]="district.id">
                                                        {{district.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8">
                                        <div class="mb-2 form-group">
                                            <label for="OrderReponsible">
                                                Responsable
                                            </label>
                                            <div class="input-group">
                                                <input #orderResponsibleInput class="form-control" name="OrderReponsible" type="text" [(ngModel)]="order.responsible" maxlength="100">
                                                <span class="input-legth">
                                                    {{orderResponsibleInput.value ? orderResponsibleInput.value.length :
                                                    0}}/{{orderResponsibleInput.maxLength}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-2 form-group">
                                            <label for="OrderDescription">
                                                Descripción del Pedido
                                            </label>
                                            <div class="input-group">
                                                <textarea cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="100" #orderDescription name="OrderDescription" [(ngModel)]="order.description" class="form-control" maxlength="5000"></textarea>
                                                <span class="input-legth">
                                                    {{orderDescription.value ? orderDescription.value.length :
                                                    0}}/{{orderDescription.maxLength}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-2 form-group">
                                            <label for="OrderObservation">
                                                Observaciones
                                            </label>
                                            <div class="input-group">
                                                <textarea cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="100" #orderObservation name="OrderObservation" [(ngModel)]="order.observation" class="form-control" maxlength="5000"></textarea>
                                                <span class="input-legth">
                                                    {{orderObservation.value ? orderObservation.value.length :
                                                    0}}/{{orderObservation.maxLength}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </p-tabPanel>

                        <p-tabPanel header="PIP" *ngIf="order.type == orderTypes.pip">

                            <div class="tab-container">

                                <h5 class="d-block text-left text-dark font-weight-bold">
                                    Información PIP
                                </h5>

                                <hr>

                                <div class="row">

                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                        <div class="mb-2 form-group">
                                            <label>
                                                Código SNIP
                                            </label>
                                            <div class="input-group input-group-right">
                                                <input class="form-control" type="text" name="PipMefSnipCode" [(ngModel)]="sNIPCode">
                                                <span (click)="searchSnipCode()" class="input-group-text">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                        <div class="mb-2 form-group">
                                            <label>
                                                Código Unificado
                                            </label>
                                            <div class="input-group input-group-right">
                                                <input class="form-control" type="text" name="PipMefUnifiedCode" [(ngModel)]="unifiedCode">
                                                <span (click)="searchUnifiedCode()" class="input-group-text">
                                                    <i class="fas fa-search"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12"></div>

                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                        <div class="mb-2 form-group">
                                            <label>
                                                Código SNIP
                                            </label>
                                            <div class="input-group input-group-right">
                                                <input class="form-control" type="text" name="PipMefSnipCode" disabled value="{{order?.pIPMEF?.snipCode}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                        <div class="mb-2 form-group">
                                            <label>
                                                Código Unificado
                                            </label>
                                            <div class="input-group input-group-right">
                                                <input class="form-control" type="text" disabled value="{{order?.pIPMEF?.unifiedCode}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                        <div class="mb-2 form-group">
                                            <label>
                                                Estado
                                            </label>
                                            <div class="input-group">
                                                <input class="form-control" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-2 form-group">
                                            <label>
                                                Denominación del proyecto
                                            </label>
                                            <div class="input-group">
                                                <textarea class="form-control" type="text" disabled value="{{order?.pIPMEF?.projectName}}"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                        <div class="mb-2 form-group">
                                            <label>
                                                Fecha de viabilidad
                                            </label>
                                            <div class="input-group fix-border">
                                                <input type="text" class="form-control" disabled value="{{order?.pIPMEF?.viabilityDate}}">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 offset-lg-4 offset-xl-6">
                                        <div class="mb-2 form-group">
                                            <label>
                                                Devengado acumulado
                                            </label>
                                            <div class="input-group">
                                                <input class="form-control" type="text" disabled value="{{order?.pIPMEF?.accumulatedAccrued}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                        <div class="mb-2 form-group">
                                            <label>
                                                PIM
                                            </label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" disabled value="{{order?.pIPMEF?.pim}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                        <div class="mb-2 form-group">
                                            <label>
                                                PIA
                                            </label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" disabled value="{{order?.pIPMEF?.pia}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                        <div class="mb-2 form-group">
                                            <label>
                                                Devengado
                                            </label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" disabled value="{{order?.pIPMEF?.accrued}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-2 form-group">
                                            <label>
                                                Unidad formuladora
                                            </label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" disabled value="{{order?.pIPMEF?.formulatingUnit}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-2 form-group">
                                            <label>
                                                Unidad ejecutora
                                            </label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" disabled value="{{order?.pIPMEF?.executingUnit}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </p-tabPanel>

                    </p-tabView>
                </div>
            </div>
        </div>

    </div>

    <find-social-conflict #findSocialConflictModal (modalSave)="selectSocialConflict($event)"></find-social-conflict>
</div>