<div class="row mt-3">

    <div *ngIf="('Pages.Application.SocialConflictSensible.Sugerence.Accept' | permission)"
        class="row col-sm-12 mb-2 mx-0">
        <button (click)="addNewAceptedSugerence()" class="mb-0 mt-auto btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar recomendación admitida
        </button>
    </div>

    <div class="col-12 mt-4 mb-4">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Recomendaciones registradas y admitidas
        </h5>

        <hr>
    </div>

</div>

<div class="row align-items-center mt-4 mx-0">
    <!--<Primeng-TurboTable-Start>-->
    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
        <p-table #acceptedDataTable sortMode="multiple" [value]="socialConflictSensible.acceptedSugerences"
            rows="{{defaultAcceptedRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
            ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
            [resizableColumns]="primengTableHelper.resizableColumns">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 100px" [hidden]="!(['Pages.Application.SocialConflictSensible.Sugerence.Create', 'Pages.Application.SocialConflictSensible.Sugerence.Edit', 'Pages.Application.SocialConflictSensible.Sugerence.Delete'] | permissionAny)">
                    </th>
                    <th style="width: 30px">
                    </th>
                    <th style="width: 300px">
                        Recomendación
                    </th>
                    <th style="width: 150px">
                        Gestor
                    </th>
                    <th style="width: 150px">
                        Analista
                    </th>
                    <th style="width: 140px;">
                        Fecha de creación
                    </th>
                    <th style="width: 140px;text-align: center;">
                        Fecha de aceptación
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                <tr [hidden]="record.isHidden">
                    <td style="width: 130px" [hidden]="!(['Pages.Application.SocialConflictSensible.Sugerence.Create', 'Pages.Application.SocialConflictSensible.Sugerence.Edit', 'Pages.Application.SocialConflictSensible.Sugerence.Delete'] | permissionAny)">
                        <button *ngIf="!record.id || ('Pages.Application.SocialConflictSensible.Sugerence.Edit' | permission)"
                            type="button" pButton icon="pi pi-pencil" class="ui-button-primary mr-2"
                            data-toggle="tooltip" title="Editar recomendación" data-placement="top"
                            (click)="editSugerences(record, rowIndex, types.accepted)"></button>
                        <ng-container *ngIf="!record.id || ('Pages.Application.SocialConflictSensible.Sugerence.Delete' | permission)">
                            <button *ngIf="!record.remove" type="button" pButton icon="pi pi-trash"
                                class="ui-button-danger" data-toggle="tooltip" title="Eliminar recomendación"
                                data-placement="top" (click)="removeItem(record, rowIndex, types.accepted)"></button>
                            <button *ngIf="record.remove" type="button" pButton icon="pi pi-undo"
                                class="ui-button-warning" data-toggle="tooltip"
                                title="Deshacer la eliminación de la recomendación" data-placement="top"
                                (click)="cancelRemove(record)"></button>
                        </ng-container>
                    </td>
                    <td style="width: 30px">
                        {{(rowIndex + 1) | number: '2.0-0'}}
                    </td>
                    <td style="width: 300px;text-align: justify;">
                        <span class="ui-column-title">
                            Recomendación
                        </span> {{record.description}}
                    </td>
                    <td style="width: 150px">
                        <span class="ui-column-title">
                            Gestor
                        </span> {{record.creatorUser?.name}} {{record.creatorUser?.surname}}
                    </td>
                    <td style="width: 150px">
                        <span class="ui-column-title">
                            Analista
                        </span> {{record.acceptedUser?.name}} {{record.acceptedUser?.surname}}
                    </td>
                    <td style="width: 140px">
                        <span class="ui-column-title">
                            Fecha de creación
                        </span> {{record.creationTime | momentFormat:'DD/MM/YYYY HH:mm:ss'}}
                    </td>
                    <td style="width: 140px">
                        <span class="ui-column-title">
                            Fecha de aceptación
                        </span> {{record.acceptTime | momentFormat:'DD/MM/YYYY HH:mm:ss'}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="socialConflictSensible.acceptedSugerences.length == 0">
            Aún no agregó ninguna recomendación
        </div>
        <div class="primeng-paging-container">
            <p-paginator [rows]="defaultAcceptedRecordsCountPerPage" #acceptedPaginator
                (onPageChange)="getData($event, types.accepted)"
                [totalRecords]="socialConflictSensible.acceptedSugerences.length"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
            </p-paginator>
            <span class="total-records-count">
                {{'TotalRecordsCount' | localize:socialConflictSensible.acceptedSugerences.length}}
            </span>
        </div>
    </div>
    <!--<Primeng-TurboTable-End>-->
</div>

<div class="row mt-3">

    <div *ngIf="('Pages.Application.SocialConflictSensible.Sugerence.Create' | permission)"
        class="row col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-2 mx-0">
        <button (click)="addNewSugerence()" class="mb-0 mt-auto btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar recomendación
        </button>
    </div>

    <div class="col-12 mt-4 mb-4">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Recomendaciones registradas por el gestor
        </h5>

        <hr>
    </div>

</div>

<div class="row align-items-center mt-4 mx-0">
    <!--<Primeng-TurboTable-Start>-->
    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
        <p-table #pendingDataTable sortMode="multiple" [value]="socialConflictSensible.pendingSugerences"
            rows="{{defaultPendingRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
            ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
            [resizableColumns]="primengTableHelper.resizableColumns">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 100px" [hidden]="!(['Pages.Application.SocialConflictSensible.Sugerence.Accept', 'Pages.Application.SocialConflictSensible.Sugerence.Create', 'Pages.Application.SocialConflictSensible.Sugerence.Edit', 'Pages.Application.SocialConflictSensible.Sugerence.Delete'] | permissionAny)">
                    </th>
                    <th style="width: 30px">
                    </th>
                    <th style="width: 250px;text-align: center;">
                        Recomendación
                    </th>
                    <th style="width: 140px;text-align: center;">
                        Gestor
                    </th>
                    <th style="width: 140px;text-align: center;">
                        Fecha de creación
                    </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                <tr [hidden]="record.isHidden">
                    <td style="width: 100px" [hidden]="!(['Pages.Application.SocialConflictSensible.Sugerence.Accept', 'Pages.Application.SocialConflictSensible.Sugerence.Create', 'Pages.Application.SocialConflictSensible.Sugerence.Edit', 'Pages.Application.SocialConflictSensible.Sugerence.Delete'] | permissionAny)">
                        <button *ngIf="'Pages.Application.SocialConflictSensible.Sugerence.Accept' | permission" type="button"
                            pButton icon="pi pi-check" class="ui-button-success mr-2" data-toggle="tooltip"
                            title="Aceptar recomendación" data-placement="top"
                            (click)="acceptSugerences(record, rowIndex, types.pending)"></button>
                        <button *ngIf="!record.id || ('Pages.Application.SocialConflictSensible.Sugerence.Edit' | permission)"
                            type="button" pButton icon="pi pi-pencil" class="ui-button-primary mr-2"
                            data-toggle="tooltip" title="Editar recomendación" data-placement="top"
                            (click)="editSugerences(record, rowIndex, types.pending)"></button>
                        <ng-container *ngIf="!record.id || ('Pages.Application.SocialConflictSensible.Sugerence.Delete' | permission)">
                            <button *ngIf="!record.remove" type="button" pButton icon="pi pi-trash"
                                class="ui-button-danger" data-toggle="tooltip" title="Eliminar recomendación"
                                data-placement="top" (click)="removeItem(record, rowIndex, types.pending)"></button>
                            <button *ngIf="record.remove" type="button" pButton icon="pi pi-undo"
                                class="ui-button-warning" data-toggle="tooltip"
                                title="Deshacer la eliminación de la recomendación" data-placement="top"
                                (click)="cancelRemove(record)"></button>
                        </ng-container>
                    </td>
                    <td style="width: 30px">
                        {{(rowIndex + 1) | number: '2.0-0'}}
                    </td>
                    <td style="width: 300px; text-align: justify;">
                        <span class="ui-column-title">
                            Recomendación
                        </span> {{record.description}}
                    </td>
                    <td style="width: 140px;text-align: center;">
                        <span class="ui-column-title">
                            Gestor
                        </span> {{record.creatorUser?.name}} {{record.creatorUser?.surname}}
                    </td>
                    <td style="width: 180px;text-align: center;">
                        <span class="ui-column-title">
                            Fecha de creación
                        </span> {{record.creationTime | momentFormat:'DD/MM/YYYY HH:mm:ss'}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="socialConflictSensible.pendingSugerences.length == 0">
            Aún no agregó ninguna recomendación
        </div>
        <div class="primeng-paging-container">
            <p-paginator [rows]="defaultPendingRecordsCountPerPage" #pendingPaginator
                (onPageChange)="getData($event, types.pending)" [totalRecords]="socialConflictSensible.pendingSugerences.length"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
            </p-paginator>
            <span class="total-records-count">
                {{'TotalRecordsCount' | localize:socialConflictSensible.pendingSugerences.length}}
            </span>
        </div>
    </div>
    <!--<Primeng-TurboTable-End>-->
</div>