<div class="row">

    <div class="row col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-2 mx-0">
        <button (click)="addRisk.emit()" class="mb-0 mt-auto btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar nivel de riesgo
        </button>
    </div>

</div>

<div class="row align-items-center mt-4 mx-0">
    <!--<Primeng-TurboTable-Start>-->
    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
        <p-table #dataTable sortMode="multiple" [value]="socialConflictSensible.risks"
            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
            [resizableColumns]="primengTableHelper.resizableColumns">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 90px;text-align: center;">
                    </th>
                    <th style="width: 30px">
                    </th>
                    <th style="width: 100px">
                        Nivel de riesgo
                    </th>
                    <th style="width: 50px;text-align: center;">
                        Fecha
                    </th>
                    <th style="width: 250px;text-align: center;">
                        Observación
                    </th>
                    <th style="width: 140px">
                        Estado
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                <tr [hidden]="record.isHidden">
                    <td style="width: 90px;text-align: center;">
                        <ng-container *ngIf="!record.verificationLocation">
                            <button type="button" pButton icon="pi pi-pencil" class="ui-button-primary mr-2"
                                data-toggle="tooltip" title="Editar nivel de riesgo" data-placement="top"
                                (click)="editEvent(record, rowIndex)"></button>
                            <button *ngIf="!record.remove" type="button" pButton icon="pi pi-trash"
                                class="ui-button-danger" data-toggle="tooltip" title="Eliminar nivel de riesgo"
                                data-placement="top" (click)="removeItem(record, rowIndex)"></button>
                            <button *ngIf="record.remove" type="button" pButton icon="pi pi-undo"
                                class="ui-button-warning" data-toggle="tooltip"
                                title="Deshacer la eliminación del nivel de riesgo" data-placement="top"
                                (click)="cancelRemove(record)"></button>
                        </ng-container>
                    </td>
                    <td style="width: 30px">
                        {{(rowIndex + 1) | number: '2.0-0'}}
                    </td>
                    <td style="width: 50px">
                        <div *ngIf="record.risk" class="risk-color" [style.background]="record.risk.color"></div>
                    </td>
                    <td style="width: 150px">
                        <span class="ui-column-title">
                            Nivel de riesgo
                        </span> {{record.risk ? record.risk.name : 'N/A'}}
                    </td>
                    <td style="width: 70px">
                        <span class="ui-column-title">
                            Fecha
                        </span> {{record.riskTime | momentFormat:'L'}}
                    </td>
                    <td style="width: 250px;text-align: justify;">
                        <span class="ui-column-title">
                            Observación
                        </span> {{record.description}}
                    </td>
                    <td style="width: 200px;">
                        <span class="ui-column-title">
                            Estado
                        </span>
                        <p-selectButton [disabled]="!verificationEnabled" [options]="options"
                            [(ngModel)]="record.verificationState" (onChange)="change(rowIndex)"></p-selectButton>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="socialConflictSensible.risks.length == 0">
            Aún no agregó ningún registro
        </div>
        <div class="primeng-paging-container">
            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                (onPageChange)="getData($event)" [totalRecords]="socialConflictSensible.risks.length"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
            </p-paginator>
            <span class="total-records-count">
                {{'TotalRecordsCount' | localize:socialConflictSensible.risks.length}}
            </span>
        </div>
    </div>
    <!--<Primeng-TurboTable-End>-->
</div>