<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="active">
            <form #modalForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="item.id">
                            Editar empresa privada
                        </span>
                        <span *ngIf="!item.id">
                            Crear empresa privada
                        </span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Cerrar" [disabled]="saving">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body row">

                    <div class="form-group col-sm-12">
                        <label for="Name">
                            Nombre (*)
                        </label>
                        <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="150" #nameField #nameInput="ngModel" [(ngModel)]="item.name" id="Name" name="Name" class="form-control" type="text" required maxlength="150"></textarea>
                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                        <span class="input-legth mr-2">
                            {{nameField.value ? nameField.value?.length :
                            0}}/{{nameField.maxLength}}
                        </span>
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="Address">
                            Dirección 
                        </label>
                        <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="100" #addressField #addressInput="ngModel" [(ngModel)]="item.address" id="Address" name="Address" class="form-control" type="text" maxlength="500"></textarea>
                        <validation-messages [formCtrl]="addressInput"></validation-messages>
                        <span class="input-legth mr-2">
                            {{addressField.value ? addressField.value?.length :
                            0}}/{{addressField.maxLength}}
                        </span>
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="PhoneNumber">
                            Teléfono
                        </label>
                        <input #phoneNumberField #phoneNumberInput="ngModel" id="PhoneNumber" name="PhoneNumber" class="form-control" type="text" (keyup)="keyUpPhoneNumber($event)" (keypress)="keyPressPhoneNumber($event)" [(ngModel)]="item.phoneNumber" maxlength="300">
                        <validation-messages [formCtrl]="phoneNumberInput"></validation-messages>
                        <span class="input-legth mr-2">
                            {{phoneNumberField.value ? phoneNumberField.value.length :
                            0}}/{{phoneNumberField.maxLength}}
                        </span>
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="EmailAddress">
                            Correo electrónico
                        </label>
                        <input #emailAddressField #emailAddressInput="ngModel" id="EmailAddress" name="EmailAddress" class="form-control" type="email" [(ngModel)]="item.emailAddress" email maxlength="150">
                        <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                        <span class="input-legth mr-2">
                            {{emailAddressField.value ? emailAddressField.value.length :
                            0}}/{{emailAddressField.maxLength}}
                        </span>
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="Url">
                            Página web
                        </label>
                        <input type="text" id="Url" name="Url" class="form-control" #urlField #urlInput="ngModel" [(ngModel)]="item.url" maxlength="150">
                        <validation-messages [formCtrl]="urlInput"></validation-messages>
                        <span class="input-legth mr-2">
                            {{urlField.value ? urlField.value.length : 0}}/{{urlField.maxLength}}
                        </span>
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="AdditionalInformation">
                            Información adicional
                        </label>
                        <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="100" #additionalInformationInput [(ngModel)]="item.additionalInformation" id="AdditionalInformation" name="AdditionalInformation" class="form-control"
                            type="text" maxlength="500"></textarea>
                        <span class="input-legth mr-2">
                            {{additionalInformationInput.value ? additionalInformationInput.value?.length :
                            0}}/{{additionalInformationInput.maxLength}}
                        </span>
                    </div>

                    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="State">
                            Estado (*)
                        </label>
                        <select id="State" name="State" class="form-control" [(ngModel)]="state">
                            <option value="false">
                                Inactivo
                            </option>
                            <option value="true">
                                Activo
                            </option>
                        </select>
                    </div>

                    <div class="col-12 mt-2 mb-2">
                        <h5 class="d-block text-left text-dark font-weight-bold">
                            Ubicación geográfica de la empresa privada
                        </h5>

                        <hr>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="mb-2 form-group">
                            <label for="DepartmentSelect">
                                Departamento
                            </label>
                            <div class="input-group">
                                <select (change)="onDepartmentChange($event)" [(ngModel)]="departmentId" id="DepartmentSelect" name="DepartmentSelect" class="form-control" type="text">
                                    <option value="-1">
                                        Seleccione
                                    </option>
                                    <option *ngFor="let department of departments" [value]="department.id">
                                        {{department.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="mb-2 form-group">
                            <label for="ProvinceSelect">
                                Provincia
                            </label>
                            <div class="input-group">
                                <select [disabled]="departmentId == -1" (change)="onProvinceChange($event)" [(ngModel)]="provinceId" id="ProvinceSelect" name="ProvinceSelect" class="form-control" type="text">
                                    <option value="-1">
                                        Seleccione
                                    </option>
                                    <option *ngFor="let province of provinces" [value]="province.id">
                                        {{province.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="mb-2 form-group">
                            <label for="DisctrictSelect">
                                Distrito
                            </label>
                            <div class="input-group">
                                <select [disabled]="provinceId == -1" (change)="onDistrictChange($event)" [(ngModel)]="districtId" id="DisctrictSelect" name="DisctrictSelect" class="form-control" type="text">
                                    <option value="-1">
                                        Seleccione
                                    </option>
                                    <option *ngFor="let district of districts" [value]="district.id">
                                        {{district.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12"></div>

                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="mb-2 form-group">
                            <label for="SectorSelect">
                                Sector
                            </label>
                            <div class="input-group">
                                <select (change)="onSectorChange($event)" [(ngModel)]="sectorId" id="SectorSelect" name="SectorSelect" class="form-control" type="text">
                                    <option value="-1">
                                        Seleccione
                                    </option>
                                    <option *ngFor="let sector of sectors" [value]="sector.id">
                                        {{sector.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold" (click)="close()">
                        Cancelar
                    </button>
                    <button *ngIf="!_verificationEnabled" type="submit" class="btn btn-primary font-weight-bold" [disabled]="!modalForm.form.valid" [buttonBusy]="saving" busyText="Guardar..." (click)="save()">
                        <i class="fa fa-save"></i>
                        <span>
                            Guardar
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>