<div class="row">

    <div class="row col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-2 mx-0">
        <button *ngIf="hasPermission" type="button" (click)="addRisk.emit()" class="mb-0 mt-auto btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar nivel de riesgo
        </button>
    </div>

</div>

<div class="row align-items-center mt-4 mx-0">
    <!--<Primeng-TurboTable-Start>-->
    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
        <p-table #dataTable sortMode="multiple" [value]="socialConflict.risks"
            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
            [resizableColumns]="primengTableHelper.resizableColumns">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngIf="hasPermission" style="width: 110px">
                    </th>
                    <th style="width: 50px">
                    </th>
                    <th  style="width: 50px">
                    </th>                   
                    
                    <th style="width: 150px; text-align: center;">
                        Nivel de riesgo
                    </th>
                    <th style="width: 80px; text-align: center;">
                        Fecha
                    </th>
                    <th style="width: 250px; text-align: center;">
                        Observación
                    </th>
                    <th style="width: 220px; text-align: center;">
                        Estado
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                <tr [hidden]="record.isHidden">
                    <td *ngIf="hasPermission" style="width: 110px">
                        <ng-container *ngIf="!record.verificationLocation">
                            <button type="button" pButton icon="pi pi-pencil" class="ui-button-primary mr-2"
                                data-toggle="tooltip" title="Editar nivel de riesgo" data-placement="top"
                                (click)="editEvent(record, rowIndex)"></button>
                            <button *ngIf="!record.remove" type="button" pButton icon="pi pi-trash"
                                class="ui-button-danger" data-toggle="tooltip" title="Eliminar nivel de riesgo"
                                data-placement="top" (click)="removeItem(record, rowIndex)"></button>
                            <button *ngIf="record.remove" type="button" pButton icon="pi pi-undo"
                                class="ui-button-warning" data-toggle="tooltip"
                                title="Deshacer la eliminación del nivel de riesgo" data-placement="top"
                                (click)="cancelRemove(record)"></button>
                        </ng-container>
                    </td>
                    <td style="width: 50px; text-align: center;">
                        {{(rowIndex + 1) | number: '2.0-0'}}
                    </td>
                    <td style="width: 50px; text-align: center;">
                        <div *ngIf="record.risk" class="risk-color" [style.background]="record.risk.color"></div>
                    </td>
                    <td style="width: 150px; text-align: center;">
                        <span class="ui-column-title">
                            Nivel de riesgo
                        </span> {{record.risk ? record.risk.name : 'N/A'}}
                    </td>
                    <td style="width: 80px;text-align: center;">
                        <span class="ui-column-title">
                            Fecha
                        </span> {{record.riskTime | momentFormat:'L'}}
                    </td>
                    <td style="width: 250px;text-align: justify;">
                        <span class="ui-column-title">
                            Observación
                        </span> {{record.description}}
                    </td>
                    <td style="width: 220px; text-align: center;">
                        <span class="ui-column-title">
                            Estado
                        </span>
                        <p-selectButton [disabled]="!verificationEnabled" [options]="options"
                            [(ngModel)]="record.verificationState" (onChange)="change(rowIndex)"></p-selectButton>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="socialConflict.risks.length == 0">
            Aún no agregó ningún registro
        </div>
        <div class="primeng-paging-container">
            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                (onPageChange)="getData($event)" [totalRecords]="socialConflict.risks.length"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
            </p-paginator>
            <span class="total-records-count">
                {{'TotalRecordsCount' | localize:socialConflict.risks.length}}
            </span>
        </div>
    </div>
    <!--<Primeng-TurboTable-End>-->
</div>

<div class="row mt-3">

    <div class="col-12">
        <div class="mb-2 form-group">
            <label for="PlaintDescription">
                Demandas
            </label>
            <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="100" #plaintDescriptionInput [(ngModel)]="socialConflict.plaint"
                id="PlaintDescription" name="PlaintDescription" class="form-control" type="text" required
                maxlength="6000" [disabled]="!hasPermission"></textarea>
            <span class="input-legth">
                {{plaintDescriptionInput.value ? plaintDescriptionInput.value?.length :
                0}}/{{plaintDescriptionInput.maxLength}}
            </span>
        </div>
    </div>

    <div class="col-12">
        <div class="mb-2 form-group">
            <label for="FactorContextDescription">
                Factores de contexto, recursos conectores y divisores
            </label>
            <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="100" #factorContextDescriptionInput [(ngModel)]="socialConflict.factorContext"
                id="FactorContextDescription" name="FactorContextDescription" class="form-control" type="text" required
                maxlength="5000" [disabled]="!hasPermission"></textarea>
            <span class="input-legth">
                {{factorContextDescriptionInput.value ? factorContextDescriptionInput.value?.length :
                0}}/{{factorContextDescriptionInput.maxLength}}
            </span>
        </div>
    </div>

    <div class="col-12">
        <div class="mb-2 form-group">
            <label for="StrategyDescription">
                Estrategias y procesos de abordaje
            </label>
            <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="100" #strategyDescriptionInput [(ngModel)]="socialConflict.strategy"
                id="StrategyDescription" name="StrategyDescription" class="form-control" type="text" required
                maxlength="5000" [disabled]="!hasPermission"></textarea>
            <span class="input-legth">
                {{strategyDescriptionInput.value ? strategyDescriptionInput.value?.length :
                0}}/{{strategyDescriptionInput.maxLength}}
            </span>
        </div>
    </div>

</div>