<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="active">
            <form #descriptionForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="rowIndex || rowIndex == 0; else elseRowIndex">
                            Editar sector identificado
                        </span>
                        <ng-template #elseRowIndex>
                            <span>
                                Crear sector identificado
                            </span>
                        </ng-template>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Cerrar" [disabled]="saving">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body row">

                    <div class="form-group col-sm-12 my-2">
                        <label for="DirectoryGovernmentSearch">
                            Entidad responsable (*)
                        </label>
                        <div class="input-group input-group-right">
                            <textarea id="DirectoryGovernmentSearch" name="DirectoryGovernmentSearch" class="form-control" type="text" value="{{activityDirectoryGovernmentText}}" disabled></textarea>
                            <span class="input-group-text border-0" (click)="findDirectoryGovernmentEvent()">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                        <!-- <div *ngIf="item.directoryGovernment" class="row col-12 mt-2 text-right mx-0 px-0">
                            <button type="button" (click)="removeDirectoryGovernment()" aria-label="delete-button"
                                class="mb-2 ml-auto btn btn-danger">
                                <i class="fa fa-minus"></i>
                                Eliminar Entidad
                            </button>
                        </div> -->
                    </div>


                    <div class="form-group  col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8 mb-2">
                        <label for="FocoSectorName">
                            Nombres y apellidos 
                        </label>
                        <input #FocoSectorNameInput="ngModel" id="FocoSectorName" name="FocoSectorName" class="form-control text-uppercase" [(ngModel)]="SectorContacName" type="text" maxlength="255">
                        <validation-messages [formCtrl]="FocoSectorNameInput"></validation-messages>
                    </div>

                    <div class="form-group col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 mb-2">
                        <label for="FocoSectorPhoneNumber">
                            Número de teléfono
                        </label>
                        <input #FocoSectorNumberInput="ngModel" id="FocoSectorPhoneNumber" name="FocoSectorPhoneNumber" class="form-control" [(ngModel)]="SectorContacPhone" type="text" (keyup)="keyUpPhoneNumber($event)" (keypress)="keyPressPhoneNumber($event)" minlength="9"
                            maxlength="9">
                        <validation-messages [formCtrl]="FocoSectorNumberInput"></validation-messages>
                    </div>
                    <div class="form-group  col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-2">
                        <label for="FocoSectorCargo">
                            cargo
                        </label>
                        <input #FocoSectorCargoInput="ngModel" id="FocoSectorcargo" name="FocoSectorCargo" class="form-control text-uppercase" [(ngModel)]="SectorContacCargo" type="text" maxlength="255">
                        <validation-messages [formCtrl]="FocoSectorCargoInput"></validation-messages>
                    </div>

                    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-2">
                        <label for="FocoSectorEmailAddress">
                            Correo electrónico
                        </label>
                        <input #FocoSectorEmailAddressInput="ngModel" id="FocoSectorEmailAddress" name="FocoSectorEmailAddress" class="form-control" [(ngModel)]="SectorContacEmail" type="email" email maxlength="255">
                        <validation-messages [formCtrl]="FocoSectorEmailAddressInput"></validation-messages>
                    </div>




                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold" (click)="close()">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!descriptionForm.form.valid" [buttonBusy]="saving" busyText="Guardar..." (click)="save()">
                        <i class="fa fa-save"></i>
                        <span>
                            Guardar
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>