<div class="privacy-policies-container">
    <div class="privacy-policies-content">
        <div class="privacy-policies-body">
            <label class="privacy-policies-title">
                POLÍTICA DE PRIVACIDAD - DIALOGOPERU
            </label>

            <label class="privacy-policies-subtitle">
                1. Identidad y domicilio
            </label>
            <p class="privacy-policies-description">
                El presente documento contiene la Política de Privacidad del aplicativo móvil denominado “GESTIÓN
                DEL DIÁLOGO EN CONFLICTOS SOCIALES - DIALOGOPERU”, en adelante “el Aplicativo”, el cual se
                encuentra a cargo y es de responsabilidad de la Presidencia del Consejo de Ministros (PCM), en
                adelante “la Entidad”, con domicilio en Jirón Carabaya Cdra. 1 S/N, Palacio de Gobierno, Cercado de
                Lima, Lima, Perú.
            </p>
            <p class="privacy-policies-description">
                Esta Política se encuentra adecuada a la normativa vigente sobre Protección de Datos Personales
                (Ley N° 29733 y su Reglamento aprobado mediante Decreto Supremo N° 003- 2013-JUS). En el
                presente documento, se señalan las finalidades del tratamiento de los datos personales que usted
                nos otorga, quiénes son los encargados de tratarla, las medidas de seguridad y los medios para
                ejercer sus derechos como titular de los datos personales.
                Cabe recalcar que la Entidad asegura la máxima reserva y protección sobre aquellos datos
                personales de los usuarios que utilicen el Aplicativo.
            </p>

            <label class="privacy-policies-subtitle">
                2. Datos personales recopilados
            </label>
            <p class="privacy-policies-description">
                La Entidad recopila datos personales por medio del registro que usted realiza en el formulario, los
                mismos que están referidos a: Nombres, Apellidos, Número de DNI u otro documento de identidad,
                teléfono de contacto, domicilio, correo electrónico, para cumplir con las finalidades detalladas más
                adelante y relacionadas al Aplicativo.
            </p>

            <label class="privacy-policies-subtitle">
                3. Finalidad del tratamiento de los datos personales
            </label>
            <p class="privacy-policies-description">
                La Entidad tratará sus datos personales con la finalidad de gestionar el presente Aplicativo en
                ejercicio de las funciones públicas conferidas y siempre en el marco de sus competencias.
                Los datos personales no podrán ser utilizados para otras finalidades no informadas y que no guarden
                relación con el presente Aplicativo.
            </p>

            <label class="privacy-policies-subtitle">
                4. Transferencia
            </label>
            <p class="privacy-policies-description">
                No se encuentra prevista la transferencia de sus datos personales a terceros, salvo para el
                cumplimiento del presente Aplicativo y cuando se trate de una obligación legal a petición de un
                organismo público o autoridad judicial.
                La Entidad garantiza que el tratamiento de sus datos se limite a las finalidades antes autorizadas,
                que se mantengan de forma confidencial, así como que se implementen las medidas de seguridad
                que exige la Ley de Protección de Datos personales.
            </p>

            <label class="privacy-policies-subtitle">
                5. Consentimiento
            </label>
            <p class="privacy-policies-description">
                Al aceptar esta Política de Privacidad, el usuario presta su consentimiento para que se realice el
                tratamiento de sus datos personales para las finalidades expuestas anteriormente.
            </p>

            <label class="privacy-policies-subtitle">
                6. Plazo de tratamiento de los datos personales
            </label>
            <p class="privacy-policies-description">
                Los datos personales tratados serán almacenados en el banco de datos personales denominado
                “Usuarios de los aplicativos de la Presidencia del Consejo de Ministros (PCM)” de titularidad de la
                Entidad. Asimismo, la Entidad conserva sus datos personales durante el tiempo imprescindible y
                necesario para gestionar el presente Aplicativo y otros relacionados al mismo, sin perjuicio de que
                los usuarios puedan revocar el consentimiento en cualquier momento.
            </p>

            <label class="privacy-policies-subtitle">
                7. Seguridad de los Datos Personales
            </label>
            <p class="privacy-policies-description">
                En cumplimiento de la normativa vigente, la Presidencia del Consejo de Ministros (PCM) y las
                entidades involucradas en el tratamiento han adoptado medidas legales, organizativas y técnicas
                apropiadas para garantizar la seguridad de los datos personales, evitando su alteración, pérdida,
                tratamiento indebido o acceso no autorizado. En ese sentido, la Entidad solo realizará el tratamiento
                de los datos personales que estén almacenados en repositorios que reúnan las condiciones de
                seguridad exigidas por la normativa de Protección de Datos Personales.
            </p>

            <label class="privacy-policies-subtitle">
                8. Sobre el ejercicio de derechos como titular de datos personales
            </label>
            <p class="privacy-policies-description">
                Los usuarios que hayan facilitado sus datos personales a la Presidencia del Consejo de Ministros
                (PCM) pueden ejercer sus derechos de acceso, rectificación, cancelación y oposición, de impedir el
                suministro de sus datos personales, de oposición al tratamiento o de tratamiento objetivo de los
                datos, en los términos recogidos en la legislación peruana vigente.
            </p>
            <p class="privacy-policies-description">
                Además de los anteriores derechos, el usuario tendrá derecho a retirar el consentimiento otorgado
                en cualquier momento mediante el procedimiento descrito líneas arriba, sin que el retiro del
                consentimiento afecte la licitud del tratamiento anterior al retiro del mismo. Cabe resaltar que solo
                un usuario administrador registrará la información de los actores del aplicativo.
                De considerar que no ha sido atendido en el ejercicio de sus derechos puede presentar una
                reclamación ante la Autoridad Nacional de Protección de Datos Personales dirigiéndose al correo
                electrónico protegetusdatos@minjus.gob.pe
            </p>

            <label class="privacy-policies-subtitle">
                9. Vigencia y Modificación de la Política de Privacidad
            </label>
            <p class="privacy-policies-description">
                La Entidad se reserva el derecho a modificar su Política de Privacidad en el supuesto de que exista
                un cambio en la legislación vigente, doctrinal, jurisprudencial. La Entidad podrá realizar
                modificaciones y correcciones a esta Política de Privacidad. Si se introdujera algún cambio en esta
                Política, el nuevo texto se publicará y estará a disposición en este mismo formulario o a solicitud de
                los interesados por cualquier medio.
            </p>
            <label class="privacy-policies-subtitle">
                10. Permisos de la Aplicación
            </label>
            <p class="privacy-policies-description">
                Para el buen desempeño de la aplicación y para garantizar el buen comportamiento del mismo, se
                deberán otorgar los siguientes permisos de acceso a los diferentes componentes del móvil:
            </p>

            <ul class="privacy-policies-list">
                <li class="privacy-policies-list_item">
                    Permiso para audio.
                </li>
                <li class="privacy-policies-list_item">
                    Permiso para lectura de almacenamiento.
                </li>
                <li class="privacy-policies-list_item">
                    Permiso para escritura de almacenamiento.
                </li>
                <li class="privacy-policies-list_item">
                    Permiso para grabar audio.
                </li>
                <li class="privacy-policies-list_item">
                    Permiso para acceso a internet.
                </li>
                <li class="privacy-policies-list_item">
                    Permiso para validar estado de la red.
                </li>
                <li class="privacy-policies-list_item">
                    Permiso para obtener locación.
                </li>
                <li class="privacy-policies-list_item">
                    Permiso para obtener ubicación geográfica.
                </li>
            </ul>

            <p class="privacy-policies-description">
                En caso de no otorgar los permisos necesarios para el buen desempeño de la Aplicación, la PCM no
                garantiza que las funcionalidades vayan a resultar según lo esperado.
            <p>
        </div>
    </div>
</div>