<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-xxl">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">
                    <span>
                        Seleccionar Entidad del Estado Peruano
                    </span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Cerrar">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="kt-form" autocomplete="new-password">
                    <div>
                        <div class="row mb-4">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown">
                                    <i class="fa fa-angle-down"></i>
                                    {{"ShowAdvancedFilters" | localize}}
                                </span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown"
                                    (click)="advancedFiltersAreShown=!advancedFiltersAreShown">
                                    <i class="fa fa-angle-up"></i>
                                    {{"HideAdvancedFilters" | localize}}
                                </span>
                            </div>
                        </div>

                        <div class="row mb-4" [hidden]="!advancedFiltersAreShown">

                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                <div class="mb-2 form-group">
                                    <label for="ShortNameFilter">
                                        Nombre corto
                                    </label>
                                    <div class="input-group">
                                        <input [(ngModel)]="shortName" id="ShortNameFilter" name="ShortNameFilter"
                                            class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
                                <div class="mb-2 form-group">
                                    <label for="NameFilter">
                                        Nombre
                                    </label>
                                    <div class="input-group">
                                        <input [(ngModel)]="name" id="NameFilter" name="NameFilter" autoFocus
                                            class="form-control" [placeholder]="l('SearchWithThreeDot')" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12"></div>

                            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                                <div class="mb-2 form-group">
                                    <label for="DepartmentUnitSelect">
                                        Departamento
                                    </label>
                                    <div class="input-group">
                                        <select (change)="onDepartmentChange($event)" [(ngModel)]="departmentId"
                                            id="DepartmentUnitSelect" name="DepartmentUnitSelect" class="form-control"
                                            type="text">
                                            <option value="-1">
                                                (Todos)
                                            </option>
                                            <option *ngFor="let department of selectedDepartments"
                                                [value]="department.id">
                                                {{department.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                                <div class="mb-2 form-group">
                                    <label for="ProvinceUnitSelect">
                                        Provincia
                                    </label>
                                    <div class="input-group">
                                        <select [disabled]="departmentId == -1" (change)="onProvinceChange($event)"
                                            [(ngModel)]="provinceId" id="ProvinceUnitSelect" name="ProvinceUnitSelect"
                                            class="form-control" type="text">
                                            <option value="-1">
                                                (Todos)
                                            </option>
                                            <option *ngFor="let province of selectedProvinces" [value]="province.id">
                                                {{province.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                                <div class="mb-2 form-group">
                                    <label for="DisctrictUnitSelect">
                                        Distrito
                                    </label>
                                    <div class="input-group">
                                        <select [disabled]="provinceId == -1" [(ngModel)]="districtId"
                                            id="DisctrictUnitSelect" name="DisctrictUnitSelect" class="form-control"
                                            type="text">
                                            <option value="-1">
                                                (Todos)
                                            </option>
                                            <option *ngFor="let district of selectedDistricts" [value]="district.id">
                                                {{district.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                                <label for="SectorFilter">
                                    Sectores
                                </label>
                                <select class="form-control" id="SectorFilter" name="SectorFilter"
                                    [(ngModel)]="sectorId">
                                    <option value="-1">
                                        (Todos)
                                    </option>
                                    <option *ngFor="let sector of sectors" [value]="sector.id">
                                        {{sector.name}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-12 text-right">
                                <button (click)="resetFilters()" aria-label="Borrar filtros" class="btn btn-warning"
                                    type="button">
                                    <i class="fas fa-redo"></i>
                                    Borrar
                                </button>
                                <button (click)="getData()" class="btn btn-primary" type="submit">
                                    <i class="flaticon-search-1" [attr.aria-label]="l('Search')"></i>
                                    Buscar
                                </button>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-body" *ngIf="active">

                <div class="primeng-datatable-container ui-table-border ui-table-small-details mx-2"
                    [busyIf]="primengTableHelper.isLoading">
                    <p-table #findDataTable sortMode="multiple" (onLazyLoad)="getData($event)"
                        [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                        [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                        [responsive]="primengTableHelper.isResponsive"
                        [resizableColumns]="primengTableHelper.resizableColumns">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 60px">
                                </th>
                                <th style="width: 250px" pSortableColumn="Name">
                                    Nombre
                                    <p-sortIcon field="Name"></p-sortIcon>
                                </th>
                                <th style="width: 150px" pSortableColumn="ShortName">
                                    Nombre corto
                                    <p-sortIcon field="ShortName"></p-sortIcon>
                                </th>
                                <th style="width: 200px" pSortableColumn="Address">
                                    Dirección
                                    <p-sortIcon field="Address"></p-sortIcon>
                                </th>
                                <th style="width: 150px" pSortableColumn="PhoneNumber">
                                    Teléfono
                                    <p-sortIcon field="PhoneNumber"></p-sortIcon>
                                </th>
                                <th style="width: 200px" pSortableColumn="Url">
                                    Página Web
                                    <p-sortIcon field="Url"></p-sortIcon>
                                </th>
                                <th style="width: 200px" pSortableColumn="Sector.Name">
                                    Sector
                                    <p-sortIcon field="Sector.Name"></p-sortIcon>
                                </th>
                                <th style="width: 200px" pSortableColumn="District.Province.Department.Name">
                                    Departamento
                                    <p-sortIcon field="District.Province.Department.Name"></p-sortIcon>
                                </th>
                                <th style="width: 200px" pSortableColumn="District.Province.Name">
                                    Provincia
                                    <p-sortIcon field="District.Province.Name"></p-sortIcon>
                                </th>
                                <th style="width: 200px" pSortableColumn="District.Name">
                                    Distrito
                                    <p-sortIcon field="District.Name"></p-sortIcon>
                                </th>
                                <th style="width: 130px" pSortableColumn="Enabled">
                                    Habilitado
                                    <p-sortIcon field="Enabled"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-record="$implicit">
                            <tr>
                                <td  *ngIf="viewTypeState"  style="width: 60px">
                                    <button (click)="selectSocialConflict(record)"
                                    class="btn btn-primary btn-selection">
                                    <i class="fas fa-search"></i>
                                </button>
                                </td>
                                <td *ngIf="!viewTypeState" style="width: 60px"  >
                                    <p-checkbox name="groupname"  (onChange)="changeStatus($event, record)" ></p-checkbox>
                                </td>
                                <td style="width: 250px">
                                    <span class="ui-column-title">
                                        Nombre 
                                    </span> {{record.name}}
                                </td>
                                <td style="width: 150px">
                                    <span class="ui-column-title">
                                        Nombre corto
                                    </span> {{record.shortName}}
                                </td>
                                <td style="width: 200px">
                                    <span class="ui-column-title">
                                        Dirección
                                    </span> {{record.address}}
                                </td>
                                <td style="width: 150px">
                                    <span class="ui-column-title">
                                        Teléfono
                                    </span> {{record.phoneNumber}}
                                </td>
                                <td style="width: 200px">
                                    <span class="ui-column-title">
                                        Página Web
                                    </span> {{record.url}}
                                </td>
                                <td style="width: 200px">
                                    <span class="ui-column-title">
                                        Sector
                                    </span> {{record.directoryGovernmentSector ? record.directoryGovernmentSector.name : ''}}
                                </td>
                                <td style="width: 200px">
                                    <span class="ui-column-title">
                                        Departamento
                                    </span> {{record?.district?.province?.department ? record.district.province.department.name : ''}}
                                </td>
                                <td style="width: 200px">
                                    <span class="ui-column-title">
                                        Provincia
                                    </span> {{record?.district?.province ? record.district.province.name : ''}}
                                </td>
                                <td style="width: 200px">
                                    <span class="ui-column-title">
                                        Distrito
                                    </span> {{record?.district ? record.district.name : ''}}
                                </td>
                                <td style="width: 130px">
                                    <span class="ui-column-title">
                                        Habilitado
                                    </span>
                                    <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.enabled">
                                        Si
                                    </span>
                                    <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.enabled">
                                        No
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                        Sin registros
                    </div>
                    <div class="primeng-paging-container">
                        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #findPaginator
                            (onPageChange)="getData($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                        </p-paginator>
                        <span class="total-records-count">
                            Registros: {{primengTableHelper.totalRecordsCount}}
                        </span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="mb-0 mt-auto btn btn-primary" (click)="check()">
                    Seleccionar
                </button>
                <button type="button" class="btn btn-light-primary font-weight-bold" (click)="close()">
                    Salir
                </button>
            </div>
        </div>
    </div>
</div>