<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        Dashboard de Casos de Conflictividad Social
                    </h3>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
                            <dashboard-filter [menuIndex]="indexes.alerts"></dashboard-filter>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-9">

                            <!--START LOCATIONS-->
                            <div class="row">

                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 px-2">

                                    <h5 class="d-block text-center text-dark font-weight-bold mt-2 mb-3">
                                        Casos de Conflictividad por Unidad Territorial
                                    </h5>

                                    <hr>

                                    <p-table class="dashboard-table" [value]="locations" [rows]="10000" [paginator]="false"
                                        [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="false"
                                        [resizableColumns]="false" [loading]="isLoading">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th class="dashboard-table-header">
                                                    UNIDAD TERRITORIAL
                                                </th>
                                                <th class="dashboard-table-header">
                                                    TOTAL
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-record="$implicit">
                                            <tr [hidden]="record.isHidden">
                                                <td class="dashboard-table-row">
                                                    <span class="d-block">
                                                        {{record.name}}
                                                    </span>
                                                </td>
                                                <td class="dashboard-table-row">
                                                    <span class="d-block text-center">
                                                        {{ formatNumber(record.count,0) }}
                                                    </span>
                                                </td>
                                            </tr>
                                        </ng-template>

                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td class="dashboard-table-row">
                                                    Sin información
                                                </td>
                                            </tr>
                                        </ng-template>

                                        <ng-template pTemplate="summary">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="dashboard-table-summary text-left">
                                                            <span class="d-block">
                                                                Total
                                                            </span>
                                                        </td>
                                                        <td class="dashboard-table-summary">
                                                            <span class="d-block text-center">
                                                                {{summaries.locations}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ng-template>

                                    </p-table>
                                    <p-paginator class="dashboard-paginator" #locationPaginator
                                        [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                        (onPageChange)="getLocations($event)" [totalRecords]="locations.length">
                                    </p-paginator>
                                </div>

                                <div *ngIf="charts.locations.type == chartTypes.pie"
                                    class="col-sm-12 col-md-12 col-lg-12 col-xl-6 px-2">

                                    <h5 class="d-block text-center text-dark font-weight-bold mt-2 mb-3">
                                        Casos de Conflictividad por Unidad Territorial
                                    </h5>

                                    <hr class="mb-3">

                                    <div class="chart-content" id="chart-content20">
                                        <button  *ngIf="!isBusyChart" pButton icon="pi pi-file" class="button-primary mr-2"
                                        data-toggle="tooltip" title="Exportar Gráfico Excel" (click)="exportImage('chart-content20', 20)">
                                        </button> 

                                        <p-chart [ngClass]="{'chart-busy': isBusyChart}" type="pie"
                                            [data]="charts.locations.pie" [options]="optionsPieDefault">
                                        </p-chart>

                                        <dashboard-spinner *ngIf="isBusyChart" class="dashboard-spinner"></dashboard-spinner>
                                    </div>
                                </div>

                                <div *ngIf="charts.locations.type == chartTypes.bar"
                                    class="col-sm-12 col-md-12 col-lg-12 col-xl-6 px-2">

                                    <h5 class="d-block text-center text-dark font-weight-bold mt-2 mb-3">
                                        Casos de Conflictividad por Unidad Territorial
                                    </h5>

                                    <hr class="mb-3">

                                    <div class="chart-content" id="chart-content21">
                                        <button  *ngIf="!isBusyChart" pButton icon="pi pi-file" class="button-primary mr-2"
                                        data-toggle="tooltip" title="Exportar Gráfico Excel" (click)="exportImage('chart-content21', 21)">
                                        </button> 

                                        <p-chart [ngClass]="{'chart-busy': isBusyChart}" type="horizontalBar"
                                            [data]="charts.locations.bar" [options]="optionsBarDefault">
                                        </p-chart>

                                        <dashboard-spinner *ngIf="isBusyChart" class="dashboard-spinner"></dashboard-spinner>
                                    </div>
                                </div>
                            </div>
                            <!--END LOCATIONS-->

                            <!--START RIKS-->
                            <div class="row">

                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 px-2">

                                    <h5 class="d-block text-center text-dark font-weight-bold mt-2 mb-3">
                                        Casos de Conflictividad por Nivel de Riesgo
                                    </h5>

                                    <hr>

                                    <p-table class="dashboard-table" [value]="risks" [rows]="10000" [paginator]="false" [lazy]="true"
                                        [scrollable]="true" ScrollWidth="100%" [responsive]="false"
                                        [resizableColumns]="false" [loading]="isLoading">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th class="dashboard-table-header">
                                                    NIVEL DE RIESGO
                                                </th>
                                                <th class="dashboard-table-header">
                                                    TOTAL
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-record="$implicit">
                                            <tr [hidden]="record.isHidden">
                                                <td class="dashboard-table-row">
                                                    <span class="d-block">
                                                        {{record.name}}
                                                    </span>
                                                </td>
                                                <td class="dashboard-table-row">
                                                    <span class="d-block text-center">
                                                        {{ formatNumber(record.count,0) }}
                                                    </span>
                                                </td>
                                            </tr>
                                        </ng-template>

                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td class="dashboard-table-row">
                                                    Sin información
                                                </td>
                                            </tr>
                                        </ng-template>

                                        <ng-template pTemplate="summary">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="dashboard-table-summary text-left">
                                                            <span class="d-block">
                                                                Total
                                                            </span>
                                                        </td>
                                                        <td class="dashboard-table-summary">
                                                            <span class="d-block text-center">
                                                                {{summaries.risks}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ng-template>

                                    </p-table>
                                    <p-paginator class="dashboard-paginator" #riskPaginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                        (onPageChange)="getRisks($event)" [totalRecords]="risks.length"></p-paginator>
                                </div>

                                <div *ngIf="charts.risks.type == chartTypes.pie"
                                    class="col-sm-12 col-md-12 col-lg-12 col-xl-6 px-2">

                                    <h5 class="d-block text-center text-dark font-weight-bold mt-2 mb-3">
                                        Casos de Conflictividad por Nivel de Riesgo
                                    </h5>

                                    <hr class="mb-3">

                                    <div class="chart-content" id="chart-content22">
                                        <button  *ngIf="!isBusyChart" pButton icon="pi pi-file" class="button-primary mr-2"
                                        data-toggle="tooltip" title="Exportar Gráfico Excel" (click)="exportImage('chart-content22', 22)">
                                        </button> 

                                        <p-chart [ngClass]="{'chart-busy': isBusyChart}" type="pie"
                                            [data]="charts.risks.pie" [options]="optionsPieDefault">
                                        </p-chart>

                                        <dashboard-spinner *ngIf="isBusyChart" class="dashboard-spinner"></dashboard-spinner>

                                    </div>
                                </div>

                                <div *ngIf="charts.risks.type == chartTypes.bar"
                                    class="col-sm-12 col-md-12 col-lg-12 col-xl-6 px-2">

                                    <h5 class="d-block text-center text-dark font-weight-bold mt-2 mb-3">
                                        Casos de Conflictividad por Nivel de Riesgo
                                    </h5>

                                    <hr class="mb-3">

                                    <div class="chart-content" id="chart-content23">
                                        <button  *ngIf="!isBusyChart" pButton icon="pi pi-file" class="button-primary mr-2"
                                        data-toggle="tooltip" title="Exportar Gráfico Excel" (click)="exportImage('chart-content23', 23)">
                                        </button> 

                                        <p-chart [ngClass]="{'chart-busy': isBusyChart}" type="horizontalBar"
                                            [data]="charts.risks.bar" [options]="optionsBarDefault">
                                        </p-chart>

                                        <dashboard-spinner *ngIf="isBusyChart" class="dashboard-spinner"></dashboard-spinner>

                                    </div>
                                </div>
                            </div>
                            <!--END RIKS-->

                            <!--START RIKS-->
                            <div class="row">

                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 px-2">

                                    <h5 class="d-block text-center text-dark font-weight-bold mt-2 mb-3">
                                        Casos de Conflictividad por Cobertura Geográfica
                                    </h5>

                                    <hr>

                                    <p-table class="dashboard-table" [value]="geographycTypes" [rows]="10000" [paginator]="false"
                                        [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="false"
                                        [resizableColumns]="false" [loading]="isLoading">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th class="dashboard-table-header">
                                                    COBERTURA GEOGRÁFICA
                                                </th>
                                                <th class="dashboard-table-header">
                                                    TOTAL
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-record="$implicit">
                                            <tr [hidden]="record.isHidden">
                                                <td class="dashboard-table-row">
                                                    <span class="d-block">
                                                        {{record.name}}
                                                    </span>
                                                </td>
                                                <td class="dashboard-table-row">
                                                    <span class="d-block text-center">
                                                        {{ formatNumber(record.count,0) }}
                                                    </span>
                                                </td>
                                            </tr>
                                        </ng-template>

                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td class="dashboard-table-row">
                                                    Sin información
                                                </td>
                                            </tr>
                                        </ng-template>

                                        <ng-template pTemplate="summary">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="dashboard-table-summary text-left">
                                                            <span class="d-block">
                                                                Total
                                                            </span>
                                                        </td>
                                                        <td class="dashboard-table-summary">
                                                            <span class="d-block text-center">
                                                                {{summaries.geographycTypes}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ng-template>

                                    </p-table>
                                    <p-paginator class="dashboard-paginator" #geographycTypePaginator
                                        [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                        (onPageChange)="getGeographycTypes($event)"
                                        [totalRecords]="geographycTypes.length"></p-paginator>
                                </div>

                                <div *ngIf="charts.geographycTypes.type == chartTypes.pie"
                                    class="col-sm-12 col-md-12 col-lg-12 col-xl-6 px-2">

                                    <h5 class="d-block text-center text-dark font-weight-bold mt-2 mb-3">
                                        Casos de Conflictividad por Cobertura Geográfica
                                    </h5>

                                    <hr class="mb-3">

                                    <div class="chart-content" id="chart-content24">
                                        <button  *ngIf="!isBusyChart" pButton icon="pi pi-file" class="button-primary mr-2"
                                        data-toggle="tooltip" title="Exportar Gráfico Excel" (click)="exportImage('chart-content24', 24)">
                                        </button> 

                                        <p-chart [ngClass]="{'chart-busy': isBusyChart}" type="pie"
                                            [data]="charts.geographycTypes.pie" [options]="optionsPieDefault">
                                        </p-chart>

                                        <dashboard-spinner *ngIf="isBusyChart" class="dashboard-spinner"></dashboard-spinner>

                                    </div>
                                </div>

                                <div *ngIf="charts.geographycTypes.type == chartTypes.bar"
                                    class="col-sm-12 col-md-12 col-lg-12 col-xl-6 px-2">

                                    <h5 class="d-block text-center text-dark font-weight-bold mt-2 mb-3">
                                        Casos de Conflictividad por Cobertura Geográfica
                                    </h5>

                                    <hr class="mb-3">

                                    <div class="chart-content" id="chart-content25">
                                        <button *ngIf="!isBusyChart" pButton icon="pi pi-file" class="button-primary mr-2"
                                        data-toggle="tooltip" title="Exportar Gráfico Excel" (click)="exportImage('chart-content25', 25)">
                                        </button> 

                                        <p-chart [ngClass]="{'chart-busy': isBusyChart}" type="horizontalBar"
                                            [data]="charts.geographycTypes.bar" [options]="optionsBarDefault">
                                        </p-chart>

                                        <dashboard-spinner *ngIf="isBusyChart" class="dashboard-spinner"></dashboard-spinner>

                                    </div>
                                </div>
                            </div>
                            <!--END RIKS-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>