<div class="row mt-3">

    <ng-container *ngIf="!dialogSpace.replaceCode">

        <div *ngIf="dialogSpace.id" class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="mb-2 form-group">
                <label for="DialogSpaceCode">
                    Código
                </label>
                <div class="input-group">
                    <input id="DialogSpaceCode" value="{{dialogSpace.code}}" class="form-control" type="text"
                        maxlength="20" disabled>
                </div>
            </div>
        </div>


        <div *ngIf="!dialogSpace.id" class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="mb-2 form-group">
                <label for="DialogSpaceCodeInput">
                    Código
                </label>
                <div class="input-group">
                    <input id="DialogSpaceCodeInput" value="Generado automáticamente" class="form-control" type="text"
                        maxlength="20" disabled>
                </div>
            </div>
        </div>

    </ng-container>

    <ng-container *ngIf="dialogSpace.replaceCode">

        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="mb-2 form-group">
                <label for="DialogSpaceCodeText">
                    Nuevo Código (Final)
                </label>
                <div class="input-group">
                    <input id="DialogSpaceCodeText" value="{{finalCode}}" class="form-control" type="text"
                        maxlength="20" disabled>
                </div>
            </div>
        </div>

    </ng-container>


    <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="SocialConflictCodeInput">
               Tipo de Documento Origen:
            </label>
            <div class="input-group">
                <select id="typeSpaceDialog" [(ngModel)]="dialogSpace.type" name="typeSpaceDialog" class="form-control"
                    type="text">
                    <option value="-1">
                        Seleccione
                    </option>
                    <option value='1'>
                        Acta
                    </option>
                    <option value='2'>
                        Resolución ministerial
                    </option>
                    <option value='3'>
                        Resolución de secretaría
                    </option>

                    <option value='4'>
                        Decreto
                    </option>

                    <option value='5'>
                        Ninguno
                    </option>
                </select>
            </div>

        </div>
    </div>

    <div class="form-group col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="DialogSpaceTypeSelect">
                Tipo de espacio de diálogo(*)
            </label>
            <div class="input-group">
                <select [(ngModel)]="dialogSpace.dialogSpaceType.id" id="DialogSpaceTypeSelect"
                    name="DialogSpaceTypeSelect" class="form-control" type="text">
                    <option value="-1">
                        Seleccione
                    </option>
                    <option *ngFor="let type of types" [value]="type.id">
                        {{type.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-12"></div>

    <div class="form-group col-sm-12 mb-2">
        <label for="ReplaceAutogeneratedCode" class="kt-checkbox">
            <input id="ReplaceAutogeneratedCode" type="checkbox" name="ReplaceAutogeneratedCode"
                [(ngModel)]="dialogSpace.replaceCode">
            Asignar código manualmente
            <span></span>
        </label>
    </div>
    <div class="col-12"></div>

    <ng-container *ngIf="dialogSpace.replaceCode">

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
            <div class="mb-2 form-group">
                <label for="DialogSpaceCodeCount">
                    Código (Número)
                </label>
                <div class="input-group">
                    <input placeholder="El número de generación del código ejemplo: 5"
                        [(ngModel)]="dialogSpace.replaceCount" id="DialogSpaceCodeCount" name="DialogSpaceCodeCount"
                        class="form-control" (keyup)="keyUpOnlyNumber($event)" (keypress)="keyPressOnlyNumbers($event)"
                        type="text" maxlength="11">
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
            <div class="mb-2 form-group">
                <label for="DialogSpaceCodeYear">
                    Código (Año)
                </label>
                <div class="input-group">
                    <input placeholder="El año de generación del código ejemplo: 2022"
                        [(ngModel)]="dialogSpace.replaceYear" id="DialogSpaceCodeYear" name="DialogSpaceCodeYear"
                        class="form-control" (keyup)="keyUpOnlyNumber($event)" (keypress)="keyPressOnlyNumbers($event)"
                        type="text" maxlength="11">
                </div>
            </div>
        </div>

        <div class="col-12 my-3"></div>

    </ng-container>

    <div class="col-12">
        <div class="mb-2 form-group">
            <label for="DialogSpaceDescription">
                Denominación del espacio de diálogo
            </label>
            <div class="input-group">
                <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"
                    cdkAutosizeMaxRows="100" #dialogSpaceDescriptionInput id="DialogSpaceDescription"
                    [(ngModel)]="dialogSpace.caseName" name="DialogSpaceDescription" class="form-control"
                    maxlength="5000"></textarea>
                <span class="input-legth">
                    {{dialogSpaceDescriptionInput.value ?
                    dialogSpaceDescriptionInput.value.length :
                    0}}/{{dialogSpaceDescriptionInput.maxLength}}
                </span>
            </div>
        </div>
    </div>


    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="StartDateInput">
                Fecha Inicio Vigencia
            </label>
            <div class="input-group">

                <input #datePicker1="bsDatepicker" id="StartDateInput" name="StartDateInput" type="text"
                    class="form-control" bsDatepicker datePickerMomentModifier
                    [bsConfig]="{ adaptivePosition: true, customTodayClass: 'datepicker-today' }" required
                    [(ngModel)]="startDate">
                <span (click)="datePicker1.toggle()" class="input-group-text">
                    <i class="far fa-calendar-alt"></i>
                </span>


            </div>
        </div>
    </div>



    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="PublicationDateInput">
                Fecha Publicacion
            </label>
            <div class="input-group">

                <input #datePicker2="bsDatepicker" id="PublicationDateInput" name="PublicationDateInput" type="text"
                    class="form-control" bsDatepicker datePickerMomentModifier
                    [bsConfig]="{ adaptivePosition: true, customTodayClass: 'datepicker-today' }" required
                    [(ngModel)]="publicationDate">
                <span (click)="datePicker2.toggle()" class="input-group-text">
                    <i class="far fa-calendar-alt"></i>
                </span>


            </div>
        </div>
    </div>


    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="TermInput">
                Plazo
            </label>
            <div class="input-group">

                <input id="TermInput" name="TermInput" type="text" class="form-control"
                    [(ngModel)]="dialogSpace.term" />



            </div>
        </div>
    </div>


    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="TermTypeSelect">
                Tipo Plazo
            </label>
            <div class="input-group">

                <select id="TermTypeSelect" name="TermTypeSelect" class="form-control" type="text"
                (change)="onTipoPlazoChange($event)"         [(ngModel)]="dialogSpace.termType">
                    <option value="-1">
                        Seleccione
                    </option>
                    <option value='1'>
                        Días Calendario
                    </option>
                    <option value='2'>
                        Días Hábiles
                    </option>
                </select>


            </div>
        </div>
    </div>



    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="EndDateInput">
                Fecha Fin Vigencia
            </label>
            <div class="input-group">

                <input #datePicker3="bsDatepicker" id="EndDateInput" name="EndDateInput"
                    type="text" class="form-control" bsDatepicker datePickerMomentModifier
                    [bsConfig]="{ adaptivePosition: true, customTodayClass: 'datepicker-today' }" [(ngModel)]="endDate">
                <span (click)="datePicker3.toggle()" class="input-group-text">
                    <i class="far fa-calendar-alt"></i>
                </span>


            </div>
        </div>
    </div>


    <div class="col-12 mt-4 mb-4" *ngIf="showCodeCase">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Caso de conflictividad vinculado al espacio de diálogo
        </h5>

        <hr>
    </div>

    <div class="col-12" *ngIf="showCodeCase">
        <div class="mb-2 form-group">
            <label for="SocialConflictInput">
                Caso
            </label>
            <div class="input-group input-group-right">
                <textarea id="SocialConflictInput" name="SocialConflictInput" class="form-control" type="text"
                    value="{{socialConflictTitle}}" disabled></textarea>
                <span class="input-group-text border-0" (click)="findSocialConflict()">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <div *ngIf="dialogSpace.socialConflict" class="row col-12 mt-2 text-right mx-0 px-0">
                <button (click)="removeSocialConflict()" class="mb-2 ml-auto btn btn-danger">
                    <i class="fa fa-minus"></i>
                    Eliminar caso
                </button>
            </div>
        </div>
    </div>

    <div class="col-12 mt-4 mb-4">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Ubicación geográfica establecida en el espacio de diálogo
        </h5>

        <hr>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="mb-2 form-group">
            <label for="TerritorialUnitSelect">
                Unidad territorial
            </label>
            <div class="input-group">
                <select (change)="onTerritorialUnitChange($event)" [(ngModel)]="selectedTerritorialUnit"
                    id="TerritorialUnitSelect" name="TerritorialUnitSelect" class="form-control" type="text">
                    <option *ngIf="selectedTerritorialUnit == -1" value="-1">
                        Seleccione
                    </option>
                    <option *ngFor="let territorialUnit of territorialUnits" [value]="territorialUnit.id">
                        {{territorialUnit.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-12"></div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="DepartmentUnitSelect">
                Departamento
            </label>
            <div class="input-group">
                <select (change)="onDepartmentChange($event)" [(ngModel)]="selectedDepartmentId"
                    id="DepartmentUnitSelect" name="DepartmentUnitSelect" class="form-control" type="text">
                    <option value="-1">
                        Seleccione
                    </option>
                    <option *ngFor="let department of selectedDepartments" [value]="department.id">
                        {{department.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="ProvinceUnitSelect">
                Provincia
            </label>
            <div class="input-group">
                <select (change)="onProvinceChange($event)" [(ngModel)]="selectedProvinceId" id="ProvinceUnitSelect"
                    name="ProvinceUnitSelect" class="form-control" type="text">
                    <option value="-1">
                        Seleccione
                    </option>
                    <option *ngFor="let province of selectedProvinces" [value]="province.id">
                        {{province.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="DisctrictUnitSelect">
                Distrito
            </label>
            <div class="input-group">
                <select (change)="onDistrictChange($event)" [(ngModel)]="selectedDistrictId" id="DisctrictUnitSelect"
                    name="DisctrictUnitSelect" class="form-control" type="text">
                    <option value="-1">
                        Seleccione
                    </option>
                    <option *ngFor="let district of selectedDistricts" [value]="district.id">
                        {{district.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="RegionSelect">
                Centro Poblado
            </label>
            <div class="input-group">
                <select [(ngModel)]="selectedRegionId" id="RegionSelect" name="RegionSelect" class="form-control"
                    type="text">
                    <option value="-1">
                        Seleccione
                    </option>
                    <option *ngFor="let region of selectedRegions" [value]="region.id">
                        {{region.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="UbicationInputText">
                Localidad - Comunidad - Otros
            </label>
            <div class="input-group">
                <input #ubicationInput [(ngModel)]="selectedUbicationText" id="UbicationInputText"
                    name="UbicationInputText" class="form-control text-uppercase" type="text" required maxlength="255">
                <span class="input-legth">
                    {{ubicationInput?.value ? ubicationInput?.value?.length :
                    0}}/{{ubicationInput.maxLength}}
                </span>
            </div>
        </div>
    </div>

    <div class="row col-sm-12 col-md-6 col-lg-3 col-xl-3 m-0">
        <button (click)="addTerritorialUnit()" class="mb-2 mt-auto btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>

</div>

<div class="row align-items-center mt-4 mx-0">
    <!--<Primeng-TurboTable-Start>-->
    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
        <p-table sortMode="multiple" [value]="dialogSpace.locations"
            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
            [resizableColumns]="primengTableHelper.resizableColumns">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 200px">
                        Unidad territorial
                    </th>
                    <th style="width: 200px">
                        Departamento
                    </th>
                    <th style="width: 200px">
                        Provincia
                    </th>
                    <th style="width: 200px">
                        Distrito
                    </th>
                    <th style="width: 200px">
                        Centro Poblado
                    </th>
                    <th style="width: 200px">
                        Localidad-Comunidad
                    </th>
                    <th style="width: 130px">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-rowIndex="rowIndex">
                <tr [hidden]="record.isHidden">
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Unidad territorial
                        </span> {{record.territorialUnit ? record.territorialUnit.name : 'N/A'}}
                    </td>
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Departamento
                        </span> {{record.department ? record.department.name : 'N/A'}}
                    </td>
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Provincia
                        </span> {{record.province ? record.province.name : 'N/A'}}
                    </td>
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Distrito
                        </span> {{record.district ? record.district.name : 'N/A'}}
                    </td>
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Centro poblado
                        </span> {{record.region ? record.region.name : 'N/A'}}
                    </td>
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Localidad - Comunidad
                        </span> {{record.ubication}}
                    </td>
                    <td style="width: 130px">
                        <button *ngIf="!record.remove" type="button" pButton icon="pi pi-trash" class="ui-button-danger"
                            data-toggle="tooltip" title="Eliminar la localización" data-placement="top"
                            (click)="removeItemFromLocation(record, rowIndex)"></button>
                        <button *ngIf="record.remove" type="button" pButton icon="pi pi-undo" class="ui-button-warning"
                            data-toggle="tooltip" title="Deshacer la eliminación de la localización"
                            data-placement="top" (click)="cancelRemoveLocation(record)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="dialogSpace.locations.length == 0">
            Aún no agregó ninguna unidad territorial
        </div>
        <div class="primeng-paging-container">
            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #territorialUnitpaginator
                (onPageChange)="getDataTerritorialUnits($event)" [totalRecords]="dialogSpace.locations.length"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
            </p-paginator>
            <span class="total-records-count">
                {{'TotalRecordsCount' | localize:dialogSpace.locations.length}}
            </span>
        </div>
    </div>
    <!--<Primeng-TurboTable-End>-->
</div>

<div class="row mt-3">
    <div class="col-12 mt-4 mb-4">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Sector(es) y/o Órgano(s) de Alta Dirección / Linea / Otro que preside(n) el espacio de diálogo
        </h5>

        <hr>
    </div>

    <div class="col-12 text-right">
        <button (click)="findDirectoryGovernment()" class="mb-2 mt-auto btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>

</div>

<div class="row align-items-center mt-4 mx-0">
    <!--<Primeng-TurboTable-Start>-->
    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
        <p-table #leadersTable sortMode="multiple" [value]="dialogSpace.leaders"
            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
            [resizableColumns]="primengTableHelper.resizableColumns" dataKey="index">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 50px">
                    </th>
                    <th style="width: 350px">
                        Nombre
                    </th>
                    <th style="width: 250px">
                        Nombre Corto
                    </th>
                    <th style="width: 200px">
                        Región
                    </th>
                    <th style="width: 130px">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-expanded="expanded" let-rowIndex="rowIndex">
                <tr>
                    <td style="width: 50px">
                        {{(rowIndex + 1) | number: '2.0-0'}}
                    </td>
                    <td style="width: 350px">
                        <span class="ui-column-title">
                            Nombre
                        </span>
                        <div class="retricted-text">
                            {{record.directoryGovernment ? record.directoryGovernment.name : ''}}
                        </div>
                    </td>
                    <td style="width: 250px">
                        <span class="ui-column-title">
                            Nombre Corto
                        </span>
                        <div class="retricted-text">
                            {{record.directoryGovernment ? record.directoryGovernment.shortName : ''}}
                        </div>
                    </td>
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Región
                        </span> {{record.directoryGovernment?.district?.name}}
                        {{record.directoryGovernment?.district?.province?.name}}
                        {{record.directoryGovernment?.district?.province?.department?.name}}
                    </td>
                    <td style="width: 130px">
                        <button type="button" pButton icon="pi pi-plus" class="ui-button-success mr-2"
                            data-toggle="tooltip" title="Agregar Integrante" data-placement="top"
                            (click)="addTeam(record, rowIndex)"></button>
                        <button *ngIf="!record.remove" type="button" pButton icon="pi pi-trash" class="ui-button-danger"
                            data-toggle="tooltip" title="Eliminar" data-placement="top"
                            (click)="removeItem(record, rowIndex)"></button>
                        <button *ngIf="record.remove" type="button" pButton icon="pi pi-undo" class="ui-button-warning"
                            data-toggle="tooltip" title="Deshacer la eliminación" data-placement="top"
                            (click)="cancelRemove(record)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-record="$implicit" let-rowIndex="rowIndex">
                <tr>
                    <td class="bg-light-dark" colspan="5">
                        <div class="p-4 bg-white shadow">
                            <p-table [value]="record.teams" [paginator]="false" [lazy]="true" [scrollable]="true"
                                ScrollWidth="100%" [responsive]="false" [resizableColumns]="false" rows="1000">
                                <ng-template pTemplate="header">
                <tr>
                    <th style="width: 50px">
                    </th>
                    <th>
                        Órgano de Alta Dirección/Línea/Otro
                    </th>
                    <th style="width: 130px">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-subrecord="$implicit" let-subRowIndex="rowIndex">
                <tr>
                    <td style="width: 50px">
                        {{(subRowIndex + 1) | number: '2.0-0'}}
                    </td>
                    <td>
                        <span class="ui-column-title">
                            Órgano de Alta Dirección/Línea/Otro
                        </span>
                        <div class="retricted-text">
                            {{subrecord.name}}
                        </div>
                    </td>
                    <td style="width: 130px">
                        <button type="button" pButton icon="pi pi-pencil" class="ui-button-primary mr-2"
                            data-toggle="tooltip" title="Agregar Órgano" data-placement="top"
                            (click)="editTeam(record, rowIndex, subrecord, subRowIndex)"></button>
                        <button *ngIf="!subrecord.remove" type="button" pButton icon="pi pi-trash"
                            class="ui-button-danger" data-toggle="tooltip" title="Eliminar" data-placement="top"
                            (click)="removeTeam(record, rowIndex, subrecord, subRowIndex)"></button>
                        <button *ngIf="subrecord.remove" type="button" pButton icon="pi pi-undo"
                            class="ui-button-warning" data-toggle="tooltip" title="Deshacer la eliminación"
                            data-placement="top" (click)="cancelRemoveTeam(subrecord)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="record.teams.length == 0">
            Aún no agregó Órgano de Alta Dirección/Línea/Otro
        </div>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
    <div class="primeng-no-data" *ngIf="dialogSpace.leaders.length == 0">
        Aún no agregó ningún registro
    </div>
    <div class="primeng-paging-container">
        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
            (onPageChange)="getDataTerritorialUnits($event)" [totalRecords]="dialogSpace.leaders.length"
            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
        </p-paginator>
        <span class="total-records-count">
            {{'TotalRecordsCount' | localize:dialogSpace.leaders.length}}
        </span>
    </div>
</div>
<!--<Primeng-TurboTable-End>-->
</div>

<div class="row mt-3">

    <div class="form-group col-sm-12 col-md-12 col-lg-6 col-xl-4 col-xxl-4">
        <label for="PersonCoordinator">
            Elaborado por
        </label>
        <select class="form-control" id="PersonCoordinator" name="PersonCoordinator"
            [(ngModel)]="dialogSpace.person.id">
            <option value="-1">
                Seleccione
            </option>
            <option *ngFor="let person of persons" [value]="person.id">
                {{person.name}} {{person.type | personType}}
            </option>
        </select>
    </div>

</div>

<div class="row mt-3">

    <div class="col-12 mt-4 mb-4">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Documentos oficiales registrados
        </h5>

        <hr>
    </div>

    <div class="col-12 text-right">
        <button (click)="addDocument()" class="mb-2 mt-auto btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </div>

</div>

<div class="row align-items-center">
    <!--<Primeng-TurboTable-Start>-->
    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
        <p-table #dataTable sortMode="multiple" (onLazyLoad)="getData($event)" [value]="primengTableHelper.records"
            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
            [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
            [resizableColumns]="primengTableHelper.resizableColumns">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 130px">
                        Acciones
                    </th>
                    <th style="width: 180px" pSortableColumn="DocumentType.Name">
                        Tipo de documento
                        <p-sortIcon field="DocumentType.Name"></p-sortIcon>
                    </th>
                    <th style="width: 250px" pSortableColumn="Document">
                        Número de documento
                        <p-sortIcon field="Document"></p-sortIcon>
                    </th>
                    <th style="width: 200px" pSortableColumn="DocumentTime">
                        Fecha de Públicación
                        <p-sortIcon field="DocumentTime"></p-sortIcon>
                    </th>
                    <th style="width: 150px" pSortableColumn="Type">
                        Documento
                        <p-sortIcon field="Type"></p-sortIcon>
                    </th>
                    <th style="width: 200px" pSortableColumn="Days">
                        Plazo máximo (días)
                        <p-sortIcon field="Days"> </p-sortIcon>
                    </th>
                    <th style="width: 200px" pSortableColumn="InstallationMaxTime">
                        Fecha máxima
                        <p-sortIcon field="InstallationMaxTime"> </p-sortIcon>
                    </th>
                    <th style="width: 200px" pSortableColumn="InstallationTime">
                        Fecha de Instalación
                        <p-sortIcon field="InstallationTime"> </p-sortIcon>
                    </th>
                    <th style="width: 250px" pSortableColumn="VigencyDays">
                        Período de Vigencia (días)
                        <p-sortIcon field="VigencyDays"> </p-sortIcon>
                    </th>
                    <th style="width: 200px" pSortableColumn="VigencyTime">
                        Fecha máxima
                        <p-sortIcon field="VigencyTime"> </p-sortIcon>
                    </th>
                    <th style="width: 200px" pSortableColumn="DialogSpaceDocumentSituation.Name">
                        Situación Actual
                        <p-sortIcon field="DialogSpaceDocumentSituation.Name"></p-sortIcon>
                    </th>
                    <th style="width: 350px" pSortableColumn="Observation">
                        Observaciones
                        <p-sortIcon field="Observation"> </p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record="$implicit" let-index="rowIndex">
                <tr>
                    <td style="width: 130px">
                        <div class="btn-group dropdown" dropdown container="body">
                            <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                <i class="fa fa-cog"></i><span class="caret"></span>
                                Acciones
                            </button>
                            <ul class="dropdown-menu" *dropdownMenu>
                                <li>
                                    <a href="javascript:;" *ngIf="'Pages.ConflictTools.DialogSpace.Edit' | permission"
                                        (click)="editDocument(record)">
                                        Editar
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" *ngIf="'Pages.ConflictTools.DialogSpace.Delete' | permission"
                                        (click)="deleteDocument(record, index)">
                                        Eliminar
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td style="width: 180px">
                        <span class="ui-column-title">
                            Tipo de documento
                        </span> {{record.documentType}}
                    </td>
                    <td style="width: 250px">
                        <span class="ui-column-title">
                            Número de documento
                        </span> {{record.document}}
                    </td>
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Fecha de Públicación
                        </span> {{record.documentTime | momentFormat:'DD/MM/YYYY'}}
                    </td>
                    <td style="width: 150px">
                        <span class="ui-column-title">
                            Documento
                        </span> {{record.type == dialogSpaceDocumentTypes.create ? 'Creación' : 'Modificación'}}
                    </td>
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Plazo máximo (días)
                        </span> {{record.days}}
                    </td>
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Fecha máxima
                        </span> {{record.installationMaxTime | momentFormat:'DD/MM/YYYY' }}
                    </td>
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Fecha de instalación
                        </span> {{record.installationTime | momentFormat:'DD/MM/YYYY' }}
                    </td>
                    <td style="width: 250px">
                        <span class="ui-column-title">
                            Período de Vigencia (días)
                        </span> {{record.vigencyDays }}
                    </td>
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Fecha máxima
                        </span> {{record.vigencyTime | momentFormat:'DD/MM/YYYY' }}
                    </td>
                    <td style="width: 200px">
                        <span class="ui-column-title">
                            Situación Actual
                        </span> {{record.situation }}
                    </td>
                    <td style="width: 350px">
                        <span class="ui-column-title">
                            Observaciones
                        </span>
                        <div class="retricted-text">
                            {{record.observation}}
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
            {{'NoData' | localize}}
        </div>
        <div class="primeng-paging-container">
            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                (onPageChange)="getData($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

            </p-paginator>
            <span class="total-records-count">
                {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
            </span>
        </div>
    </div>
    <!--<Primeng-TurboTable-End>-->
</div>

<div class="row" *ngIf="dialogSpace?.creatorUser">

    <div class="col-12 mt-4 mb-2">
        <h5 class="d-block text-left text-dark font-weight-bold">
            Información de registro
        </h5>

        <hr>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
        <div class="mb-2 form-group">
            <label for="UserRegisterInput">
                Registrado por
            </label>
            <div class="input-group">
                <input class="form-control" id="UserRegisterInput" value="{{getUserName(dialogSpace.creatorUser)}}"
                    type="text" readonly>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
        <div class="mb-2 form-group">
            <label for="UserRegisterDateInput">
                Fecha de registro
            </label>
            <div class="input-group">
                <input class="form-control" id="UserRegisterDateInput"
                    value="{{dialogSpace.creationTime | momentFormat: 'L'}}" type="text" readonly>
                <span class="input-group-text">
                    <i class="far fa-calendar-alt"></i>
                </span>
            </div>
        </div>
    </div>

    <ng-container *ngIf="dialogSpace?.editUser">

        <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9">
            <div class="mb-2 form-group">
                <label for="UserUpdateInput">
                    Última actualización
                </label>
                <div class="input-group">
                    <input class="form-control" id="UserUpdateInput" value="{{getUserName(dialogSpace.editUser)}}"
                        type="text" readonly>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
            <div class="mb-2 form-group">
                <label for="UserUpdateDateInput">
                    Fecha de actualización
                </label>
                <div class="input-group">
                    <input id="UserUpdateDateInput" class="form-control"
                        value="{{dialogSpace.lastModificationTime | momentFormat: 'L'}}" type="text" readonly>
                    <span class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                    </span>
                </div>
            </div>
        </div>

    </ng-container>

</div>